<div class="detail-view-layout">
	<h2 class="page-title">VIEW offender Manager</h2>
	<button class="btn btn-default btn-purple pull-right" [routerLink]="['../..']" >Back</button>
	<div class="double-divider-purple mt10"></div>
	<div class="grid-style">
		<tr-accordion>
			<tr-accordionTab header="Offender Manager" [selected]="true">
				<div class="grid-head">
				</div>
				<fieldset class="three-column">
					<legend> <span class="glyphicon glyphicon-flash"></span> offender Manager </legend>
					<div class="row">
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('offenderManagerId')">
								<div class="view-title col-sm-5">offender Manager </div>
								<div class="detail-value col-sm-7">{{offenderManager?.offenderManagerId}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('allocationDate')">
								<div class="view-title col-sm-5">allocation Start Date </div>
								<div class="detail-value col-sm-7">{{offenderManager?.allocationDate}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('endDate')">
								<div class="view-title col-sm-5">allocation end Date </div>
								<div class="detail-value col-sm-7">{{offenderManager?.endDate}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('allocationReasonId')">
								<div class="view-title col-sm-5">allocation Reason </div>
								<div class="detail-value col-sm-7">
									<tr-list-label *ngIf="offenderManager?.allocationReasonId" [tableId]="144" [pkValue]="offenderManager?.allocationReasonId"></tr-list-label>
								</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('providerId')">
								<div class="view-title col-sm-5">provider </div>
								<div class="detail-value col-sm-7">
									<tr-list-label *ngIf="offenderManager?.providerId" [tableId]="193" [pkValue]="offenderManager?.providerId"></tr-list-label>
								</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('responsibleTeam')">
								<div class="view-title col-sm-5">responsible Team </div>
								<div class="detail-value col-sm-7">{{offenderManager?.responsibleTeam}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('responsibleOfficer')">
								<div class="view-title col-sm-5">responsible Officer </div>
								<div class="detail-value col-sm-7">{{offenderManager?.responsibleOfficer}}</div>
							</div>
						</div>

						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('profileId')">
								<div class="view-title col-sm-5">profile </div>
								<div class="detail-value col-sm-7">{{offenderManager?.profileId}}</div>
							</div>
						</div>

						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('spgOffenderManagerId')">
								<div class="view-title col-sm-5">SPG Offender Manager </div>
								<div class="detail-value col-sm-7">{{offenderManager?.spgOffenderManagerId}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('spgVersion')">
								<div class="view-title col-sm-5">SPG Version </div>
								<div class="detail-value col-sm-7">{{offenderManager?.spgVersion}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('spgUpdateUser')">
								<div class="view-title col-sm-5">SPG Update User </div>
								<div class="detail-value col-sm-7">{{offenderManager?.spgUpdateUser}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('createdDate')">
								<div class="view-title col-sm-5">created Date </div>
								<div class="detail-value col-sm-7">{{offenderManager?.createdDate}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('createdBy')">
								<div class="view-title col-sm-5">created By </div>
								<div class="detail-value col-sm-7">{{offenderManager?.createdBy}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('createdByUserId')">
								<div class="view-title col-sm-5">created By User </div>
								<div class="detail-value col-sm-7">{{offenderManager?.createdByUserId}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('modifiedDate')">
								<div class="view-title col-sm-5">modified Date </div>
								<div class="detail-value col-sm-7">{{offenderManager?.modifiedDate}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('modifiedBy')">
								<div class="view-title col-sm-5">modified By </div>
								<div class="detail-value col-sm-7">{{offenderManager?.modifiedBy}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('modifiedByUserId')">
								<div class="view-title col-sm-5">modified By User </div>
								<div class="detail-value col-sm-7">{{offenderManager?.modifiedByUserId}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('deleted')">
								<div class="view-title col-sm-5">deleted </div>
								<div class="detail-value col-sm-7">{{offenderManager?.deleted}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('deletedDate')">
								<div class="view-title col-sm-5">deleted Date </div>
								<div class="detail-value col-sm-7">{{offenderManager?.deletedDate}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('deletedBy')">
								<div class="view-title col-sm-5">deleted By </div>
								<div class="detail-value col-sm-7">{{offenderManager?.deletedBy}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('deletedByUserId')">
								<div class="view-title col-sm-5">deleted By User </div>
								<div class="detail-value col-sm-7">{{offenderManager?.deletedByUserId}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('locked')">
								<div class="view-title col-sm-5">locked </div>
								<div class="detail-value col-sm-7">{{offenderManager?.locked}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('version')">
								<div class="view-title col-sm-5">version </div>
								<div class="detail-value col-sm-7">{{offenderManager?.version}}</div>
							</div>
						</div>
					</div>
				</fieldset>
			</tr-accordionTab>
		</tr-accordion>
	</div>
</div>