<div class="edit-view-layout">

    <div class="grid-style shrink-view" *ngIf="authorizedFlag">
        <h2 class="page-title" *ngIf="action == 'Update'">Edit deregistration</h2>
        <h2 class="page-title" *ngIf="action == 'Create'">Add deregistration</h2>

        <form [formGroup]="deregistrationAddForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <fieldset class="three-column">
                <legend> <span class="glyphicon glyphicon-flash"></span> deregistration </legend>
                <div class="row">
                    <!--<div class="form-group col-sm-6" *ngIf="isFeildAuthorized('deregistrationId')">
                        <label for="deregistrationId" title="Deregistration Id">Deregistration Id
                                                                    <span class="mand-text">*</span>
                                                                </label>
                        <input type="text" formControlName="deregistrationId" id="deregistrationId" class="form-control" placeholder="Deregistration Id"
                        />
                        <control-messages [control]="deregistrationAddForm.controls.deregistrationId"></control-messages>
                    </div>-->
                    <div class="form-group col-sm-6" *ngIf="isFeildAuthorized('registrationId')">
                        <label for="registrationId" title="Registration Type">Registration Type
                                                                        <span class="mand-text">*</span>
                                                                    </label>
                        <tr-dropdown [operation] = "action" [tableId]="207" [controlName]="'registrationType'" [dropdown]="deregistrationAddForm"></tr-dropdown>
                        <control-messages [control]="deregistrationAddForm.controls.registrationType"></control-messages>
                    </div>


                    <div class="form-group col-sm-6" *ngIf="isFeildAuthorized('deregistrationDate')">
                        <label for="deregistrationDate" title="Deregistration Date">Deregistration Date
                                                                    <span class="mand-text">*</span> </label>
                        <date-picker [controlName]="'deregistrationDate'" [form]="deregistrationAddForm"></date-picker>
                        <control-messages [control]="deregistrationAddForm.controls.deregistrationDate"></control-messages>
                    </div>

                    <div class="form-group col-sm-6" *ngIf="isFeildAuthorized('deregisteringProviderId')">
                        <label for="deregisteringProviderId" title="Deregistering Officer's Provider">Deregistering Officer's Provider
                                                                    <span class="mand-text cust-align-star">*</span> </label>
                        <tr-dropdown [operation] = "action" [tableId]="193" [controlName]="'deregisteringProviderId'" [dropdown]="deregistrationAddForm"></tr-dropdown>
                        <control-messages [control]="deregistrationAddForm.controls.deregisteringProviderId"></control-messages>
                    </div>
                    <div class="form-group col-sm-6" *ngIf="isFeildAuthorized('deregisteringTeam')">
                        <label for="deregisteringTeam" title="Deregistering Officer's Team">Deregistering Officer's Team
                                                                <span class="mand-text cust-align-star">*</span> </label>
                        <input type="text" formControlName="deregisteringTeam" id="deregisteringTeam" class="form-control" placeholder="Deregistering Team" />
                        <!--<tr-dropdown [operation] = "action" [tableId]="2" [controlName]="'deregisteringTeam'" [dropdown]="deregistrationAddForm" [lookup]="501"></tr-dropdown>-->
                        <control-messages [control]="deregistrationAddForm.controls.deregisteringTeam"></control-messages>
                    </div>

                      <div class="form-group col-sm-6" >
                        <label for="deregisteringOfficer" title="Deregistered By">Deregistered By
                                                                 <span class="mand-text">*</span></label>
                        <input type="text" formControlName="deregisteringOfficer" id="deregisteringOfficer" class="form-control" placeholder="Deregistering Officer" />
                        <!--<tr-dropdown [operation] = "action" [tableId]="2" [controlName]="'deregisteringOfficer'" [dropdown]="deregistrationAddForm" [lookup]="502"></tr-dropdown>-->
                        <control-messages [control]="deregistrationAddForm.controls.deregisteringOfficer"></control-messages>
                    </div>

                    <div class="form-group col-sm-12 note-style"  *ngIf="isFeildAuthorized('deregistrationNotes')">
                        <label for="deregistrationNotes" title=" Notes"> Notes
                                                                </label>
                        <textarea type="text" formControlName="deregistrationNotes" id="deregistrationNotes" class="form-control" placeholder="Deregistration Notes"
                        ></textarea>
                        <control-messages [control]="deregistrationAddForm.controls.deregistrationNotes"></control-messages>
                    </div>




                    <div class="form-group col-sm-6" *ngIf="isFeildAuthorized('createdBy')">
                        <label for="createdBy" title="Created By">Created By
                                                                    <span class="mand-text">*</span>
                                                                </label>
                        <input type="text" formControlName="createdBy" id="createdBy" class="form-control" placeholder="Created By" />
                        <control-messages [control]="deregistrationAddForm.controls.createdBy"></control-messages>
                    </div>
                    <div class="form-group col-sm-6" *ngIf="isFeildAuthorized('createdByUserId')">
                        <label for="createdByUserId" title="Created By User Id">Created By User Id
                                                                    <span class="mand-text">*</span>
                                                                </label>
                        <input type="text" formControlName="createdByUserId" id="createdByUserId" class="form-control" placeholder="Created By User Id"
                        />
                        <control-messages [control]="deregistrationAddForm.controls.createdByUserId"></control-messages>
                    </div>
                    <div class="form-group col-sm-6" *ngIf="isFeildAuthorized('createdDate')">
                        <label for="createdDate" title="Created Date">Created Date
                                                                        <span class="mand-text">*</span>
                                                                    </label>
                        <date-picker [controlName]="'createdDate'" [form]="deregistrationAddForm"></date-picker>
                        <control-messages [control]="deregistrationAddForm.controls.createdDate"></control-messages>
                    </div>
                    <div class="form-group col-sm-6" *ngIf="isFeildAuthorized('modifiedBy')">
                        <label for="modifiedBy" title="Modified By">Modified By
                                                                    <span class="mand-text">*</span>
                                                                </label>
                        <input type="text" formControlName="modifiedBy" id="modifiedBy" class="form-control" placeholder="Modified By" />
                        <control-messages [control]="deregistrationAddForm.controls.modifiedBy"></control-messages>
                    </div>
                    <div class="form-group col-sm-6" *ngIf="isFeildAuthorized('modifiedByUserId')">
                        <label for="modifiedByUserId" title="Modified By User Id">Modified By User Id
                                                                    <span class="mand-text">*</span>
                                                                </label>
                        <input type="text" formControlName="modifiedByUserId" id="modifiedByUserId" class="form-control" placeholder="Modified By User Id"
                        />
                        <control-messages [control]="deregistrationAddForm.controls.modifiedByUserId"></control-messages>
                    </div>
                    <div class="form-group col-sm-6" *ngIf="isFeildAuthorized('modifiedDate')">
                        <label for="modifiedDate" title="Modified Date">Modified Date
                                                                        <span class="mand-text">*</span>
                                                                    </label>
                        <date-picker [controlName]="'modifiedDate'" [form]="deregistrationAddForm"></date-picker>
                        <control-messages [control]="deregistrationAddForm.controls.modifiedDate"></control-messages>
                    </div>
                    <div class="form-group col-sm-6" *ngIf="isFeildAuthorized('deleted')">
                        <label for="deleted" title="Deleted">Deleted
                                                                    <span class="mand-text">*</span>
                                                                </label>
                        <input type="text" formControlName="deleted" id="deleted" class="form-control" placeholder="Deleted" />
                        <control-messages [control]="deregistrationAddForm.controls.deleted"></control-messages>
                    </div>
                    <div class="form-group col-sm-6" *ngIf="isFeildAuthorized('deletedBy')">
                        <label for="deletedBy" title="Deleted By">Deleted By
                                                                </label>
                        <input type="text" formControlName="deletedBy" id="deletedBy" class="form-control" placeholder="Deleted By" />
                        <control-messages [control]="deregistrationAddForm.controls.deletedBy"></control-messages>
                    </div>
                    <div class="form-group col-sm-6" *ngIf="isFeildAuthorized('deletedByUserId')">
                        <label for="deletedByUserId" title="Deleted By User Id">Deleted By User Id
                                                                </label>
                        <input type="text" formControlName="deletedByUserId" id="deletedByUserId" class="form-control" placeholder="Deleted By User Id"
                        />
                        <control-messages [control]="deregistrationAddForm.controls.deletedByUserId"></control-messages>
                    </div>
                    <div class="form-group col-sm-6" *ngIf="isFeildAuthorized('deletedDate')">
                        <label for="deletedDate" title="Deleted Date">Deleted Date
                                                                    </label>
                        <date-picker [controlName]="'deletedDate'" [form]="deregistrationAddForm"></date-picker>
                        <control-messages [control]="deregistrationAddForm.controls.deletedDate"></control-messages>
                    </div>
                    <div class="form-group col-sm-6" *ngIf="isFeildAuthorized('locked')">
                        <label for="locked" title="Locked">Locked
                                                                    <span class="mand-text">*</span>
                                                                </label>
                        <input type="text" formControlName="locked" id="locked" class="form-control" placeholder="Locked" />
                        <control-messages [control]="deregistrationAddForm.controls.locked"></control-messages>
                    </div>
                    <div class="form-group col-sm-6" *ngIf="isFeildAuthorized('version')">
                        <label for="version" title="Version">Version
                                                                    <span class="mand-text">*</span>
                                                                </label>
                        <input type="text" formControlName="version" id="version" class="form-control" placeholder="Version" />
                        <control-messages [control]="deregistrationAddForm.controls.version"></control-messages>
                    </div>
                    <div class="form-group col-sm-12 text-right">
                        <button class="btn btn-default btn-purple" id="saveButton" fromServerMessageValidator [form]="deregistrationAddForm">Submit</button>
                        <button type="button" *ngIf="action == 'Create'" (click)="navigateTo(['../../..'])" id="cancelButton" class="btn btn-default btn-white">Cancel</button>
                        <button type="button" *ngIf="action == 'Update'" (click)="navigateTo(['../../..'])" id="cancelButton" class="btn btn-default btn-white">Cancel</button>
                    </div>
                </div>
            </fieldset>

        </form>

    </div>
    <div *ngIf="!authorizedFlag">Not Authorized</div>
</div>
