<div>
<div  class="log-in-container">
<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
	<div class="logo-div">
			<img src="../../../assets/images/interserve-white.png" alt="interserve" class="img-responsive">
		</div>
	<div>
		<div *ngIf="isExistingUserPasswordExpired">
			<p  style="color: red;background-color: yellow">
				Your password has expired. Please request for new password</p></div>
		<div><h2 class="form-signin-heading">Reset Password</h2></div>
		
				<label for="userName" class="">User Name</label>
				<div class="">
					<input type="text" formControlName="userName" class="form-control" placeholder="User Name" />
					
				</div>
	</div>
	<button type="submit" [disabled]="!forgotPasswordForm.valid" class="btn btn-default btn-warning col-sm-12 nopadleft nopadright mt15">Submit</button>
	 <!--<p class="alert alert-danger text-center red-text" *ngIf="gotNewToken">{{message}}</p>-->
</form>
</div>
</div>