<tr-tabs [structure]="'cmaction'"></tr-tabs>
<div class="list-view-layout">
	<div class="grid-style" *ngIf="authorizedFlag">





		<tr-accordion>
			<!--<tr-accordionTab header="Contact">-->
			<tr-accordionTab header="Plan Entries" [selected]="true">
				<div class="grid-head">
						<tr-list-refresh (refreshCommand)="sortFilterAndPaginate(sortSearchPaginationObj?.filterObj, sortSearchPaginationObj?.paginationObj, sortSearchPaginationObj?.sortObj)"></tr-list-refresh>
					<tr-accordion-header>
						<div *ngIf="isAuthorized('Create')" class="pull-right">
							<!--<button [routerLink]="['contact', 'new']" class="btn btn-default btn-small pull-right" id="planentry_addButton" title="View Record"><span class="glyphicon glyphicon-plus">aa</span></button>-->
						</div>
					</tr-accordion-header>
				</div>

				<div class="pad15">
					<div class="grid-style filter-div">
						<tr-accordion>
							<tr-accordionTab header="filter" [selected]="false">
								<div class="grid-head">
								</div>
								<div class="pad15 nopadbtm">
									<form [formGroup]="contactFilterForm" class="form-service-user" (ngSubmit)="onSubmit()" >
										<div >
											<div class="row">
												<div class="col-sm-3">
													<div class="form-group">
														<input type="hidden"  formControlName="activities" value="{{filterForm.profileId}}">
														<label for="activitesList">Activities</label>
														<select class="form-control" name="activitesList" formControlName="activitesList" id="activitesList">
                                    						<option value=null>- Select -</option>
															<option value="1">My Activities</option>
															<option value="0">My Team's Activities</option>
														</select>
														

  </div>
												</div>
												<div class="col-sm-3" *ngIf="contactFilterForm.value.activitesList==0" >
													<div class="form-group">
														<label for="caseManager">Case Manager</label>
														<select class="form-control"  formControlName="caseManager" >
															<option value=null>- Select -</option>
															<option *ngFor="let user of officerIds" [value]="user?.key">{{user?.value}}</option>
														</select>
													</div>
												</div>

				

												<div class="form-group col-md-12 text-right">

													<button class="btn btn-default btn-purple mb25">Search</button>
													<button (click)="reset(contactFilterForm)" class="btn btn-default btn-white mb25">Reset</button>


												</div>



											</div>
										</div>
									</form>
								</div>
							</tr-accordionTab>
						</tr-accordion>
					</div>
				

					<div class="row">
						<div class="col-md-12">
							<div class="table-div">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th class="wid120"  id="familyName" trSortBy="familyName" (sortCommand)="sort($event)"><span class="th-div">Family Name<span *ngIf="sortSearchPaginationObj.sortObj.field == 'familyName'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
											</th>
											<th class="wid120"  id="firstName" trSortBy="firstName" (sortCommand)="sort($event)"><span class="th-div">First Name<span *ngIf="sortSearchPaginationObj.sortObj.field == 'firstName'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
											</th>
											<th class="wid80 text-center"  id="caseReferenceNumber" trSortBy="caseReferenceNumber" (sortCommand)="sort($event)"><span class="th-div">CRN<span *ngIf="sortSearchPaginationObj.sortObj.field == 'caseReferenceNumber'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
											</th>
											<th  *ngIf="isFeildAuthorized('relatesTo')" id="relatesTo1" trSortBy="relatesTo" (sortCommand)="sort($event)"><span class="th-div">Related To<span *ngIf="sortSearchPaginationObj.sortObj.field == 'relatesTo'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
											</th>
						
											<th *ngIf="isFeildAuthorized('contactTypeId')" id="contactTypeId" trSortBy="contactTypeId" (sortCommand)="sort($event)"><span class="th-div">Entry Type<span *ngIf="sortSearchPaginationObj.sortObj.field == 'contactTypeId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
											</th>

											<!-- <th  *ngIf="isFeildAuthorized('contactTypeId')" id="rarDay1" trSortBy="rarDay" (sortCommand)="sort($event)"><span class="th-div">RAR Day</span></th> -->
											<th class="wid150 text-center" *ngIf="isFeildAuthorized('contactDate')" id="contactDate" trSortBy="contactDate" (sortCommand)="sort($event)"><span class="th-div"> Date & Time<span *ngIf="sortSearchPaginationObj.sortObj.field == 'contactDate'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
											</th>
																		
											<!-- <th *ngIf="isFeildAuthorized('contactOutcomeId')" id="contactOutcomeId" trSortBy="contactOutcomeId" (sortCommand)="sort($event)"><span class="th-div">Outcome<span *ngIf="sortSearchPaginationObj.sortObj.field == 'contactOutcomeId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
											</th>-->

											<th class="wid120" *ngIf="isFeildAuthorized('contactOfficer')" id="contactOfficer" trSortBy="contactOfficer" (sortCommand)="sort($event)"><span class="th-div">Case Manager<span *ngIf="sortSearchPaginationObj.sortObj.field == 'caseManger'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
											</th>
											
											<th *ngIf="isAuthorized('Read')" class="text-center"><span class="hidden">View</span></th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let contact of contactList; let i = index">
											<td > {{contact?.familyName}}</td>
											<td > {{contact?.firstName}}</td>	
											<td class="text-center" > {{contact?.caseReferenceNumber}}</td>	
											<td *ngIf="isFeildAuthorized('relatesTo')"> {{contact?.relatesTo}}</td>
											<td *ngIf="isFeildAuthorized('contactTypeId')">
												<span >{{contact?.contactType}}</span>
											</td>
											<!-- <td *ngIf="isFeildAuthorized('contactTypeId')">
												{{contact.rarDay}}
											</td> -->
											<td class="text-center" *ngIf="isFeildAuthorized('contactDate')">{{contact?.contactDate}}</td>
											<!-- <td *ngIf="isFeildAuthorized('contactOutcomeId')">
												<span >{{contact?.contactOutcomeType}} 
													<span *ngFor="let contactOutcomeId of contactOutcomeIdList | filter :'key' : contact?.contactOutcomeId">
														<span class="pull-right" *ngFor="let code of contactOutcomeId.value.listOfCode">
															<span class="glyphicon ml10" [ngClass]="{'glyphicon-ok-sign': code=='Green','glyphicon-remove-sign': code=='Red', 'glyphicon-remove-sign-amber': code=='Amber'}"></span>
														</span>
													</span>
												</span>
											</td> -->

											<td *ngIf="isFeildAuthorized('contactOfficer')">
												<span>{{contact?.caseManager?.split("/")[1]}}</span>
											</td>

											<td class="text-center wid120">
												<span *ngIf="isAuthorized('Read')">
												<button id="planentry_view{{i}}" [routerLink]="[contact?.profileId,contact?.contactId]" [queryParams]="{profileLoc:'2'}" class="btn btn-default btn-small" title="View Record"><span class="glyphicon glyphicon-search">aa</span></button>
												</span>
												<span *ngIf="isAuthorized('Update')">
													<button id="planentry_edit{{i}}" class="btn btn-default btn-small" *ngIf="contact?.locked" title="Edit record is locked.">
                                                                                                <span class="glyphicon glyphicon-lock">aa</span>
												</button>
												<button id="planentry_edit{{i}}" *ngIf="!contact?.locked" [routerLink]="[contact?.profileId,'edit',contact?.contactId]" [queryParams]="{profileLoc:'2'}" class="btn btn-default btn-small"
													title="Edit Record"><span class="glyphicon glyphicon-pencil">aa</span>
													</button>
												</span>
											</td>
										</tr>
									</tbody>
								</table>
								<div *ngIf="contactList?.length<=0" class="no-records">No Records Found</div>
							</div>
						</div>
						<tr-pagination [name]="'contactList'" *ngIf="contactList?.length>0" [paginationObj]="sortSearchPaginationObj?.paginationObj" (paginationCommand)="paginate($event)"></tr-pagination>
					</div>
				</div>
			</tr-accordionTab>
		</tr-accordion>
	</div>
	<div *ngIf="!authorizedFlag">Not Authorized</div>
</div>