<div class="detail-view-layout">
	<h2 class="page-title">VIEW PSS Requirement Manager</h2>
	<button class="btn btn-default btn-purple pull-right" [routerLink]="['../..']" >Back</button>
	<div class="double-divider-purple mt10"></div>
	<div class="grid-style">
		<tr-accordion>
			<tr-accordionTab header="PSS Requirement Manager" [selected]="true">
				<div class="grid-head">
				</div>
				<fieldset class="three-column">
					<legend> <span class="glyphicon glyphicon-flash"></span> PSS Requirement Manager </legend>
					<div class="row">
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('pssRequirementManagerId')">
								<div class="view-title col-sm-5">PSS Requirement Manager </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.pssRequirementManagerId}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('pssRequirementId')">
								<div class="view-title col-sm-5">PSS Requirement </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.pssRequirementId}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('allocationDate')">
								<div class="view-title col-sm-5">allocation Date </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.allocationDate}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('providerId')">
								<div class="view-title col-sm-5">provider </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.providerId}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('responsibleTeam')">
								<div class="view-title col-sm-5">responsible Team </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.responsibleTeam}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('responsibleOfficer')">
								<div class="view-title col-sm-5">responsible Officer </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.responsibleOfficer}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('allocationReasonId')">
								<div class="view-title col-sm-5">allocation Reason </div>
								<div class="detail-value col-sm-7">
									<tr-list-label *ngIf="pssRequirementManager?.allocationReasonId" [tableId]="195" [pkValue]="pssRequirementManager?.allocationReasonId"></tr-list-label>
								</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('endDate')">
								<div class="view-title col-sm-5">end Date </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.endDate}}</div>
							</div>
						</div>


						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('spgPssRequirementManagerId')">
								<div class="view-title col-sm-5">SPG PSS Requirement Manager </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.spgPssRequirementManagerId}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('spgVersion')">
								<div class="view-title col-sm-5">SPG Version </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.spgVersion}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('spgUpdateUser')">
								<div class="view-title col-sm-5">SPG Update User </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.spgUpdateUser}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('createdDate')">
								<div class="view-title col-sm-5">created Date </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.createdDate}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('createdBy')">
								<div class="view-title col-sm-5">created By </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.createdBy}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('createdByUserId')">
								<div class="view-title col-sm-5">created By User </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.createdByUserId}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('modifiedDate')">
								<div class="view-title col-sm-5">modified Date </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.modifiedDate}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('modifiedBy')">
								<div class="view-title col-sm-5">modified By </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.modifiedBy}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('modifiedByUserId')">
								<div class="view-title col-sm-5">modified By User </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.modifiedByUserId}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('deleted')">
								<div class="view-title col-sm-5">deleted </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.deleted}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('deletedDate')">
								<div class="view-title col-sm-5">deleted Date </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.deletedDate}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('deletedBy')">
								<div class="view-title col-sm-5">deleted By </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.deletedBy}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('deletedByUserId')">
								<div class="view-title col-sm-5">deleted By User </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.deletedByUserId}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('locked')">
								<div class="view-title col-sm-5">locked </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.locked}}</div>
							</div>
						</div>
						<div class="">
							<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('version')">
								<div class="view-title col-sm-5">version </div>
								<div class="detail-value col-sm-7">{{pssRequirementManager?.version}}</div>
							</div>
						</div>
					</div>
				</fieldset>
			</tr-accordionTab>
		</tr-accordion>
	</div>
</div>