<div class="sub-menu">
	<ul>
		
		<li><button class="btn btn-default btn-purple" [routerLink]="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Planned Appointments</button></li>
		<li><button class="btn btn-default btn-purple" [routerLink]="">Outstanding Enforcement</button></li>
		<li><button class="btn btn-default btn-purple" [routerLink]="">Outstanding Breaches</button></li>
		<li><button class="btn btn-default btn-purple" [routerLink]="">Alerts</button></li>
		<li><button class="btn btn-default btn-purple" [routerLink]="">Releases</button></li>
		<li><button class="btn btn-default btn-purple" [routerLink]="">Register Reviews</button></li>
		<li><button class="btn btn-default btn-purple" [routerLink]="">Recent Allocations</button></li>
	</ul>
</div>
<!--<tr-tabs [structure]="'cmaction'"></tr-tabs>-->