<div class="edit-view-layout">

	
	<div class="grid-style shrink-view" *ngIf="authorizedFlag">
	<h2 class="page-title">Generate Letter</h2>
		<form [formGroup]="generateLetterForm" (ngSubmit)="generateSubmit(generateLetterForm.controls.templateNameId.value)" autocomplete="off">
			<fieldset class="three-column">
				<div class="row">
					<div class="form-group col-sm-6 ">
						<label for="templateNameId" title="Please Select A Letter">Please Select A Letter<span class="mand-text">*</span>
                        </label>
						
						<select class="form-control" formControlName="templateNameId" id="templateNameId">
						<option value=''>- Select -</option>
							<option *ngFor="let item of itemList" value="{{item.templateName}}" >{{item.templateName}}</option>
							
						</select>
						 <control-messages [control]="generateLetterForm.controls.templateNameId"></control-messages>
					</div>
					<div class="form-group col-sm-6 " >
						<button class="btn btn-default btn-purple" id="submitButton" fromServerMessageValidator [form]="generateLetterForm">Generate Letter</button>
					</div>
				</div>
			</fieldset>
		</form>

		<h2 class="page-title" >Upload Letter</h2>
		<form [formGroup]="uploadLetterForm" (ngSubmit)="onSubmit()" autocomplete="off">
			<fieldset class="three-column">
				<div class="row">
					<div class="col-sm-12 nopadding">

					<div class="form-group col-sm-6" >
						<label for="documentName" title="Document Name">Document Name
                                    <span class="mand-text">*</span>
                        </label>
						<input type="text" formControlName="documentName" id="documentName" class="form-control" placeholder="Document Name" />
						<control-messages [control]="uploadLetterForm.controls.documentName"></control-messages>
					</div>

					<div class="form-group col-sm-6" >
						<label for="file" title="Document">Document</label>
						<div class="radio-group-list white-bg">
							<input type="file" (change)=fileChangeEvent($event) formControlName="file" id="file" />
						</div>
						<control-messages [control]="uploadLetterForm.controls.file"></control-messages>
					</div>

					<div class="form-group col-sm-12 text-right">
						<button class="btn btn-default btn-purple" id="submitButton" fromServerMessageValidator [form]="uploadLetterForm">Upload</button>
						<button type="button" (click)="navigateTo(genUrl)" class="btn btn-default btn-white" id="cancelButton">Cancel</button>
					</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<div *ngIf="!authorizedFlag">Not Authorized</div>
</div>
