<div class="edit-view-layout one-line-view"  *ngIf="authorizedFlag">
	<!--<h2 class="page-title" *ngIf="action == 'Update'">Terminate Event</h2>-->
	<!--<h2 class="page-title" *ngIf="action == 'Create'">Add Terminate Event</h2>-->
	<!--<div class="double-divider-purple mt10"></div>-->
	<div class="grid-style shrink-view">
		<tr-accordion>
			<tr-accordionTab header="Terminate Event" [selected]="false">
				<div class="grid-head">
					<div class="pull-right"><button class="btn btn-default btn-small" *ngIf="isLocked" title="The record is locked."><span class="glyphicon glyphicon-lock "></span></button></div>
				</div>
				<form [formGroup]="terminateEventAddForm" (ngSubmit)="onSubmit()" autocomplete="off">
					<fieldset class="three-column grey-bg">
						<legend> <span class="glyphicon glyphicon-flash"></span> Terminate Event </legend>
						<div class="row">

							<div class="form-group col-sm-6">
								<label for="terminationDate" title="Termination Date">Termination Date<span class="mand-text">*</span></label>
								<date-picker [controlName]="'terminationDate'" [form]="terminateEventAddForm" [disabled]='terminated'></date-picker>
								<control-messages [control]="terminateEventAddForm.controls.terminationDate"></control-messages>
							</div>

							<div class="form-group col-sm-6" >
									<label for="terminationReasonId" title="Termination Reason">Termination Reason<span class="mand-text">*</span></label>
									<tr-dropdown [operation] = "action" [tableId]="116 "[isDependent]="true" [list]="childParentAnswers[116]" [controlName]="'terminationReasonId'" [dropdown]="terminateEventAddForm"></tr-dropdown>
									<control-messages [control]="terminateEventAddForm.controls.terminationReasonId"></control-messages>
								</div>
							<div class="form-group col-sm-12 note-style" *ngIf="isFeildAuthorized('notes')">
                        <tr-notes [controlName]="'notes'" [form]="terminateEventAddForm" [action]="action" [previousNotes]="previousNotes" [label]="'Notes'"></tr-notes>
                        <control-messages [control]="terminateEventAddForm.controls.notes"></control-messages>
                    </div>

							<div class="form-group col-sm-12 text-right">
								<button class="btn btn-default btn-purple" id="saveButton" fromServerMessageValidator [form]="terminateEventAddForm" [disabled]='terminated'>Submit</button>
								<button type="button" *ngIf="action == 'Create'" (click)="this.terminateEventAddForm.reset()" id="cancelButton" class="btn btn-default btn-white" [disabled]='terminated'>Cancel</button>
							</div>

						</div>
					</fieldset>

				</form>
			</tr-accordionTab>
		</tr-accordion>
	</div>
</div>
