<tr-main-tabs></tr-main-tabs>
<tr-tabs [structure]="'Event'"></tr-tabs>
<tr-tabs [structure]="'Throughcare'"></tr-tabs>
<div class="list-view-layout">
	<h2 class="page-title hide-heading">Post Sentence Supervision</h2>
	<div class="double-divider-purple mt10 hide-heading"></div>
	<div class="grid-style" *ngIf="authorizedFlag">
		<tr-accordion>
			<tr-accordionTab header="Post Sentence Supervision" [selected]="true">
				<div class="grid-head">
					<tr-accordion-header>
						<div *ngIf="isAuthorized('Create') && isFirstCustodyPSS && isReleaseActive && !isEventTerminated && !isSEDLessThanCurrrentDate && isPssApplies" class="pull-right">
							<button [routerLink]="['new']" id="custodyPss_addButton" class="btn btn-default btn-small" title="Add Record"><span class="glyphicon glyphicon-plus">aa</span></button>
						</div>
					</tr-accordion-header>
					<tr-list-refresh (refreshCommand)="sortFilterAndPaginate(sortSearchPaginationObj?.filterObj, sortSearchPaginationObj?.paginationObj, sortSearchPaginationObj?.sortObj)"></tr-list-refresh>
				</div>
				<div class="pad15">
					<div class="row">
						<div class="col-md-12">
							<div class="table-div">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th  id="commencementDate" title="commencement Date" class="text-center"><span class="th-div">Commencement Date</span></th> 
											
											 <th id="actualEndDate" title="Actual End Date" class="text-center"><span class="th-div">PSS Expiry Date</span></th>

											<th *ngIf="isAuthorized('Read')" class="text-center"><span class="hidden">View</span></th>

										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let custodyPss of custodyPssList; let i = index">
										
											<td class="text-center" >{{custodyPss?.commencementDate}}</td>
											<td class="text-center" >{{custodyPss?.PSSExpiryDate}}</td>

											<td class="text-center">
												<span *ngIf="isAuthorized('Read')">
                                                <button class="btn btn-default btn-small" id="custodyPss_view{{i}}" [routerLink]="[eventId]" title="View Record">
                                                 <span class="glyphicon glyphicon-search">aa</span>
												</button>
												</span>

												<span *ngIf="isAuthorized('Update')">
                                                 <button id="custodyPss_edit{{i}}" class="btn btn-default btn-small" *ngIf="custodyPss?.locked" title="Edit record is locked.">
                                                <span class="glyphicon glyphicon-lock">aa</span>
												</button>
												<button *ngIf="!custodyPss?.locked" [routerLink]="['edit', eventId]" id="custodyPss_edit{{i}}"
												 class="btn btn-default btn-small" title="Edit Record"><span class="glyphicon glyphicon-pencil">aa</span></button>
												</span>
												
												<span *ngIf="isAuthorized('Archive')">
                                                    <button id="custodyPss_delete{{i}}" class="btn btn-default btn-small" *ngIf="custodyPss?.locked" title="Delete record is locked.">
                                                  <span class="glyphicon glyphicon-lock">aa</span>
												</button>
												<button *ngIf="!custodyPss?.locked" (click)="delete(eventId)" id="custodyPss_delete{{i}}" class="btn btn-default btn-small"
												 title="Delete record"><span class="glyphicon glyphicon-trash">aa</span></button>
												</span>
											</td>
										</tr>
									</tbody>
								</table>
								<div *ngIf="custodyPssList?.length<=0" class="no-records">No Records Found</div>
							</div>
						</div>
						<tr-pagination [name]="'custodyPss'" *ngIf="custodyPssList?.length>0" [paginationObj]="sortSearchPaginationObj?.paginationObj"
						 (paginationCommand)="paginate($event)"></tr-pagination>
					</div>
				</div>
			</tr-accordionTab>
		</tr-accordion>
	</div>
	<div *ngIf="!authorizedFlag">Not Authorized</div>
</div>