<div>
	<div class="log-in-container">
		<form [formGroup]="forgotResetPasswordForm" (ngSubmit)="onSubmit()">
			<div>
				<h2 class="form-signin-heading">New Password</h2>
			</div>
			<div class="form-group">
				<label for="newPassword">New Password <span class="mand-text">*</span></label>
				<input type="password" class="form-control" id="newPassword" formControlName="newPassword">
				<div *ngIf="!forgotResetPasswordForm.controls['newPassword'].valid" class="alert-danger text-danger">
					<p>
           {{invalidPasswordMessage}}
          </p>
				</div>
			</div>
			<div class="form-group">
				<label for="confirmPassword">Confirm Password <span class="mand-text">*</span></label>
				<input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
				<div *ngIf="forgotResetPasswordForm.controls['newPassword'].valid">
					<div *ngIf="!forgotResetPasswordForm.controls['confirmPassword'].valid" class="alert-danger text-danger">
						<!--<div *ngIf="!forgotResetPasswordForm.controls['newPassword.length <= confirmPassword.length'].valid">-->
						<p>
              Password mismatch
            </p>
					</div>
				</div>
				<!--</div>-->
			</div>
			<!--<script src='https://www.google.com/recaptcha/api.js'></script>
       		<re-captcha (captchaResponse)="captchaResponse($event)" site_key="6LdpMxYUAAAAAHV5sTasj7_0j99Fa3YzH66nxdii"></re-captcha> !checkCapchaValue ||  -->
			<button type="submit" [disabled]="!forgotResetPasswordForm.valid" class="btn btn-default btn-warning col-sm-12 nopadleft nopadright mt15">Submit</button>
		</form>
	</div>
</div>
