<div class="list-view-layout">
	<h2 class="page-title hide-heading">Registration Review</h2>
	<div class="double-divider-purple mt10 hide-heading"></div>
	<div class="grid-style" *ngIf="authorizedFlag">
		<tr-accordion>
			<tr-accordionTab header="Registration Review" [selected]="false">
				<div class="grid-head">
					<tr-accordion-header>
						<div *ngIf="isAuthorized('Create')" class="pull-right">
							<!--<button [routerLink]="['registration-review', 'new']" id="registrationReview_addButton" class="btn btn-default btn-small"
								title="Add Record"><span class="glyphicon glyphicon-plus">aa</span></button>-->
						</div>
					</tr-accordion-header>
					<tr-list-refresh (refreshCommand)="sortFilterAndPaginate(sortSearchPaginationObj?.filterObj, sortSearchPaginationObj?.paginationObj, sortSearchPaginationObj?.sortObj)"></tr-list-refresh>
				</div>
				<div class="pad15">
					<div class="grid-style filter-div">
						<tr-accordion>
							<tr-accordionTab header="filter">

								<div class="grid-head">

								</div>
								<div class="pad15 nopadbtm">
									<tr-search [searchObjs]="searchObjs" (searchCommand)="searchRegistrationReview($event)"></tr-search>
								</div>
							</tr-accordionTab>
						</tr-accordion>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="table-div">
								<table class="table table-bordered">
									<thead>
										<tr>
											<!-- <th *ngIf="isFeildAuthorized('registrationReviewId')" id="registrationReviewId" trSortBy="registrationReviewId" (sortCommand)="sort($event)" title="Registration Review Id"><span class="th-div">Registration Review Id<span *ngIf="sortSearchPaginationObj.sortObj.field == 'registrationReviewId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('registrationId')" id="registrationId" trSortBy="registrationId" (sortCommand)="sort($event)" title="Registration Id"><span class="th-div">Registration Id<span *ngIf="sortSearchPaginationObj.sortObj.field == 'registrationId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('dateOfReview')" id="dateOfReview" trSortBy="dateOfReview" (sortCommand)="sort($event)" title="Date Of Review"><span class="th-div">Date Of Review<span *ngIf="sortSearchPaginationObj.sortObj.field == 'dateOfReview'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('timeOfReview')" id="timeOfReview" trSortBy="timeOfReview" (sortCommand)="sort($event)" title="Time Of Review"><span class="th-div">Time Of Review<span *ngIf="sortSearchPaginationObj.sortObj.field == 'timeOfReview'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('note')" id="note" trSortBy="note" (sortCommand)="sort($event)" title="Note"><span class="th-div">Note<span *ngIf="sortSearchPaginationObj.sortObj.field == 'note'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('spgVersion')" id="spgVersion" trSortBy="spgVersion" (sortCommand)="sort($event)" title="Spg Version"><span class="th-div">Spg Version<span *ngIf="sortSearchPaginationObj.sortObj.field == 'spgVersion'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('spgUpdateUser')" id="spgUpdateUser" trSortBy="spgUpdateUser" (sortCommand)="sort($event)" title="Spg Update User"><span class="th-div">Spg Update User<span *ngIf="sortSearchPaginationObj.sortObj.field == 'spgUpdateUser'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<th *ngIf="isFeildAuthorized('dateOfReview')" id="dateOfReviewhead" trSortBy="dateOfReview" (sortCommand)="sort($event)"
												title="Date Of Review" class="text-center"><span class="th-div">Date<span *ngIf="sortSearchPaginationObj.sortObj.field == 'dateOfReview'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
											</th>
											<th *ngIf="isFeildAuthorized('reviewProviderId')" id="reviewProviderIdhead" trSortBy="reviewProviderId" (sortCommand)="sort($event)"
												title="Reviewing Officer's Provider"><span class="th-div">Reviewing Officer's Provider<span *ngIf="sortSearchPaginationObj.sortObj.field == 'reviewProviderId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
											</th>
											<th *ngIf="isFeildAuthorized('reviewingTeam')" id="reviewingTeamhead" trSortBy="reviewingTeam" (sortCommand)="sort($event)" title="Reviewing Officer's Team"><span class="th-div">Reviewing Officer's Team<span *ngIf="sortSearchPaginationObj.sortObj.field == 'reviewingTeam'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
											</th>
											<th *ngIf="isFeildAuthorized('reviewingOfficer')" id="reviewingOfficerhead" trSortBy="reviewingOfficer" (sortCommand)="sort($event)"
												title="Reviewed By"><span class="th-div">Reviewed By<span *ngIf="sortSearchPaginationObj.sortObj.field == 'reviewingOfficer'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
											</th>
											<th *ngIf="isFeildAuthorized('nextReviewDate')" id="nextReviewDatehead" trSortBy="nextReviewDate" (sortCommand)="sort($event)"
												title="Next Review Date" class="text-center"><span class="th-div">Next Review<span *ngIf="sortSearchPaginationObj.sortObj.field == 'nextReviewDate'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
											</th>
											<!-- <th *ngIf="isFeildAuthorized('spgRegistrationReviewId')" id="spgRegistrationReviewId" trSortBy="spgRegistrationReviewId" (sortCommand)="sort($event)" title="Spg Registration Review Id"><span class="th-div">Spg Registration Review Id<span *ngIf="sortSearchPaginationObj.sortObj.field == 'spgRegistrationReviewId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('nextReviewDate')" id="nextReviewDate" trSortBy="nextReviewDate" (sortCommand)="sort($event)" title="Next Review Date"><span class="th-div">Next Review Date<span *ngIf="sortSearchPaginationObj.sortObj.field == 'nextReviewDate'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('nextReviewTime')" id="nextReviewTime" trSortBy="nextReviewTime" (sortCommand)="sort($event)" title="Next Review Time"><span class="th-div">Next Review Time<span *ngIf="sortSearchPaginationObj.sortObj.field == 'nextReviewTime'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('createdBy')" id="createdBy" trSortBy="createdBy" (sortCommand)="sort($event)" title="Created By"><span class="th-div">Created By<span *ngIf="sortSearchPaginationObj.sortObj.field == 'createdBy'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('createdByUserId')" id="createdByUserId" trSortBy="createdByUserId" (sortCommand)="sort($event)" title="Created By User Id"><span class="th-div">Created By User Id<span *ngIf="sortSearchPaginationObj.sortObj.field == 'createdByUserId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('createdDate')" id="createdDate" trSortBy="createdDate" (sortCommand)="sort($event)" title="Created Date"><span class="th-div">Created Date<span *ngIf="sortSearchPaginationObj.sortObj.field == 'createdDate'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('modifiedBy')" id="modifiedBy" trSortBy="modifiedBy" (sortCommand)="sort($event)" title="Modified By"><span class="th-div">Modified By<span *ngIf="sortSearchPaginationObj.sortObj.field == 'modifiedBy'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('modifiedByUserId')" id="modifiedByUserId" trSortBy="modifiedByUserId" (sortCommand)="sort($event)" title="Modified By User Id"><span class="th-div">Modified By User Id<span *ngIf="sortSearchPaginationObj.sortObj.field == 'modifiedByUserId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('modifiedDate')" id="modifiedDate" trSortBy="modifiedDate" (sortCommand)="sort($event)" title="Modified Date"><span class="th-div">Modified Date<span *ngIf="sortSearchPaginationObj.sortObj.field == 'modifiedDate'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('deleted')" id="deleted" trSortBy="deleted" (sortCommand)="sort($event)" title="Deleted"><span class="th-div">Deleted<span *ngIf="sortSearchPaginationObj.sortObj.field == 'deleted'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('deletedBy')" id="deletedBy" trSortBy="deletedBy" (sortCommand)="sort($event)" title="Deleted By"><span class="th-div">Deleted By<span *ngIf="sortSearchPaginationObj.sortObj.field == 'deletedBy'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('deletedByUserId')" id="deletedByUserId" trSortBy="deletedByUserId" (sortCommand)="sort($event)" title="Deleted By User Id"><span class="th-div">Deleted By User Id<span *ngIf="sortSearchPaginationObj.sortObj.field == 'deletedByUserId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('deletedDate')" id="deletedDate" trSortBy="deletedDate" (sortCommand)="sort($event)" title="Deleted Date"><span class="th-div">Deleted Date<span *ngIf="sortSearchPaginationObj.sortObj.field == 'deletedDate'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('locked')" id="locked" trSortBy="locked" (sortCommand)="sort($event)" title="Locked"><span class="th-div">Locked<span *ngIf="sortSearchPaginationObj.sortObj.field == 'locked'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('version')" id="version" trSortBy="version" (sortCommand)="sort($event)" title="Version"><span class="th-div">Version<span *ngIf="sortSearchPaginationObj.sortObj.field == 'version'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->

											<th *ngIf="isAuthorized('Read')" class="text-center"><span class="hidden">View</span></th>

										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let registrationReview of registrationReviewList; let i = index">
											<!--<td *ngIf="isFeildAuthorized('dateOfReview')">
												<span *ngFor="let dateOfReview of dateOfReviewList | filter :'key' : registrationReview?.dateOfReview">{{dateOfReview.value}}</span>
											</td> -->
											
											<td class="text-center" *ngIf="isFeildAuthorized('dateOfReview')">{{registrationReview?.dateOfReview}}</td>
											<!--<td *ngIf="isFeildAuthorized('reviewCompletedYesNoId')">
												<span *ngFor="let reviewCompletedYesNoId of reviewCompletedYesNoIdList | filter :'key' : registrationReview?.reviewCompletedYesNoId">{{reviewCompletedYesNoId.value}}</span>
											</td> -->

											<td *ngIf="isFeildAuthorized('reviewProviderId')">
												<span *ngFor="let reviewProviderId of reviewProviderIdList | filter :'key' : registrationReview?.reviewProviderId">{{reviewProviderId.value}}</span>
											</td>

											<td *ngIf="isFeildAuthorized('reviewingTeam')">
												<span>{{registrationReview?.reviewingTeam?.split("/")[1].split("[")[0].split("(")[0]}}</span>
											</td>

											<td *ngIf="isFeildAuthorized('reviewingOfficer')">
												<span>{{parseOfficer(registrationReview?.reviewingOfficer)}}</span>
											</td>

											<!--<td *ngIf="isFeildAuthorized('nextReviewDate')">
												<span *ngFor="let nextReviewDate of nextReviewDateList | filter :'key' : registrationReview?.nextReviewDate">{{nextReviewDate.value}}</span>
											</td> -->

											<td class="text-center" *ngIf="isFeildAuthorized('nextReviewDate')">{{registrationReview?.nextReviewDate}}</td>

											<td class="text-center">
												<span *ngIf="isAuthorized('Read')">
                                                 <button class="btn btn-default btn-small" id="registrationReview_view{{i}}" [routerLink]="['registration-review', registrationReview?.registrationReviewId]" title="View Record">
                                                 <span class="glyphicon glyphicon-search">aa</span>
												</button>
												</span>
												<span *ngIf="isAuthorized('Update') && !registrationReview?.isReviewCompleted">
                                                   <button id="registrationReview_edit{{i}}" class="btn btn-default btn-small" *ngIf="registrationReview?.locked" title="Edit record is locked.">
                                                       <span class="glyphicon glyphicon-lock">aa</span>
												</button>
												<button *ngIf="!registrationReview?.locked" [routerLink]="['registration-review', 'edit', registrationReview?.registrationReviewId]"
													id="registrationReview_edit{{i}}" class="btn btn-default btn-small" title="Edit Record"><span class="glyphicon glyphicon-pencil">aa</span></button>
												</span>
												<span *ngIf="registrationReview?.deregistrationDate == null">
												<span *ngIf="isAuthorized('Archive') && registrationReview?.isReviewCompleted">
                                    			<button id="registrationReview_delete{{i}}" class="btn btn-default btn-small" *ngIf="registrationReview?.locked" title="Delete record is locked.">
                                                <span class="glyphicon glyphicon-lock">aa</span>
												</button>
												<button *ngIf="!registrationReview?.locked" (click)="delete(registrationReview?.registrationReviewId)" id="registrationReview_delete{{i}}"
													class="btn btn-default btn-small" title="Delete record"><span class="glyphicon glyphicon-trash">aa</span></button>
												</span>
												</span>
											</td>
										</tr>
									</tbody>
								</table>
								<div *ngIf="registrationReviewList?.length<=0" class="no-records">No Records Found</div>
							</div>
						</div>
						<tr-pagination [name]="'registrationReviewList'" *ngIf="registrationReviewList?.length>0" [paginationObj]="sortSearchPaginationObj?.paginationObj" (paginationCommand)="paginate($event)"></tr-pagination>
					</div>
				</div>
			</tr-accordionTab>
		</tr-accordion>
	</div>
	
</div>
