   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
    <!-- <div class="col-sm-12">
            <h2 class="page-title pull-left">Conatct Information</h2>

            <div class="pull-right">
                <button [routerLink]="['../..']" class="btn btn-default btn-purple pull-right" id="backButton">Back</button>
         	
		  </div>
        </div>-->
		<!-- <div class="double-divider-purple mt10"></div>-->

			
<!--<div class="sub-menu">
		<ul>
			<li><button type="button" class="btn btn-default btn-purple" [routerLink]="['..']" >Summary</button></li>
			<li><button type="button" class="btn btn-default btn-purple active" [routerLink]="['.']">Profile</button></li>
			<li><button type="button" class="btn btn-default btn-purple" [routerLink]="['..', 'contact-information']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact Information</button></li>
			<li><button type="button" class="btn btn-default btn-purple" [routerLink]="['..', 'personalcircumstance']">Personal Circumstance</button></li>
			<li><button type="button" class="btn btn-default btn-purple" [routerLink]="['..', 'protected-characteristics']">Protected Characteristics</button></li>
			<li><button type="button" class="btn btn-default btn-purple" [routerLink]="['..', 'offender-disability']">Accessibilty</button></li>
			<li><button type="button" class="btn btn-default btn-purple" [routerLink]="['..', 'current-case-manager']">Case Manager</button></li>
			<li><button type="button" class="btn btn-default btn-purple" [routerLink]="['..', 'plan']">Plan</button></li>
		</ul>
	</div>-->
	









<tr-contactinformation-detail></tr-contactinformation-detail>

<!--<h2 class="page-title">Contact Information</h2>
<!--<button class="btn btn-default btn-purple pull-right" [routerLink]="['..','profile']">Back</button> -->
<!--<button (click)="goBack()" class="btn btn-default btn-purple pull-right">Back</button>-->
<!--<button [routerLink]="['..']" class="btn btn-default btn-purple pull-right">Back</button>-->

<!--<div class="double-divider-purple mt10"></div>-->
<tr-address></tr-address>
 <tr-network></tr-network>

