<router-outlet></router-outlet>
<div class="relative">
	<h2 class="page-title" style='visibility: hidden'>offender Manager</h2>
    <!--<button class="btn btn-default btn-purple pull-right" [routerLink]="['..', 'profile']">Back</button>-->
	<button (click)="goBack()" class="btn btn-default btn-purple pull-right">Back</button>
  </div>
 <div class="list-view-layout">
  <div class="grid-style">
		<tr-accordion>
			<tr-accordionTab header="Offender Manager" [selected]="false">
				<div class="grid-head">
					<tr-accordion-header>
						<div *ngIf="isAuthorized('Create')" class="pull-right"><a [routerLink]="['offendermanager', 'new']"><button class="btn btn-default btn-white pull-right">Add</button></a></div>
					</tr-accordion-header>
				</div>
				<div class="pad15">
					<div class="row">
						<div class="col-md-12">
							<div class="table-div">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th *ngIf="isFeildAuthorized('allocationDate')" trSortBy="allocationDate" (sortCommand)="sort($event)" class="text-center"><span class="th-div">allocation Date<span *ngIf="sortFilterPaginationObj.sortObj.field == 'allocationDate'"
											[ngClass]="{'glyphicon-chevron-up':sortFilterPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortFilterPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th>

											<th *ngIf="isFeildAuthorized('endDate')" trSortBy="endDate" (sortCommand)="sort($event)" class="text-center"><span class="th-div">end Date<span *ngIf="sortFilterPaginationObj.sortObj.field == 'endDate'"
											[ngClass]="{'glyphicon-chevron-up':sortFilterPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortFilterPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th>

											<th *ngIf="isFeildAuthorized('allocationReasonId')" trSortBy="allocationReasonId" (sortCommand)="sort($event)"><span class="th-div">allocation Reason<span *ngIf="sortFilterPaginationObj.sortObj.field == 'allocationReasonId'"
											[ngClass]="{'glyphicon-chevron-up':sortFilterPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortFilterPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th>

											<th *ngIf="isFeildAuthorized('providerId')" trSortBy="providerId" (sortCommand)="sort($event)"><span class="th-div">provider<span *ngIf="sortFilterPaginationObj.sortObj.field == 'providerId'"
											[ngClass]="{'glyphicon-chevron-up':sortFilterPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortFilterPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th>

											<th *ngIf="isFeildAuthorized('responsibleTeam')" trSortBy="responsibleTeam" (sortCommand)="sort($event)"><span class="th-div">responsible Team<span *ngIf="sortFilterPaginationObj.sortObj.field == 'responsibleTeam'"
											[ngClass]="{'glyphicon-chevron-up':sortFilterPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortFilterPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th>

											<th *ngIf="isFeildAuthorized('responsibleOfficer')" class="wid150" trSortBy="responsibleOfficer" (sortCommand)="sort($event)"><span class="th-div">responsible Officer<span *ngIf="sortFilterPaginationObj.sortObj.field == 'responsibleOfficer'"
											[ngClass]="{'glyphicon-chevron-up':sortFilterPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortFilterPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th>
											<!--<th *ngIf="isFeildAuthorized('offenderManagerId')">offender Manager</th>
						<th *ngIf="isFeildAuthorized('profileId')">profile</th>
						<th *ngIf="isFeildAuthorized('spgOffenderManagerId')">SPG Offender Manager</th>
						<th *ngIf="isFeildAuthorized('spgVersion')">SPG Version</th>
						<th *ngIf="isFeildAuthorized('spgUpdateUser')">SPG Update User</th>
						<th *ngIf="isFeildAuthorized('createdDate')">created Date</th>
						<th *ngIf="isFeildAuthorized('createdBy')">created By</th>
						<th *ngIf="isFeildAuthorized('createdByUserId')">created By User</th>
						<th *ngIf="isFeildAuthorized('modifiedDate')">modified Date</th>
						<th *ngIf="isFeildAuthorized('modifiedBy')">modified By</th>
						<th *ngIf="isFeildAuthorized('modifiedByUserId')">modified By User</th>
						<th *ngIf="isFeildAuthorized('deleted')">deleted</th>
						<th *ngIf="isFeildAuthorized('deletedDate')">deleted Date</th>
						<th *ngIf="isFeildAuthorized('deletedBy')">deleted By</th>
						<th *ngIf="isFeildAuthorized('deletedByUserId')">deleted By User</th>
						<th *ngIf="isFeildAuthorized('locked')">locked</th>
						<th *ngIf="isFeildAuthorized('version')">version</th>-->
											<th *ngIf="isAuthorized('Read')" class="text-center">View</th>
											<th *ngIf="isAuthorized('Update')" class="text-center">Edit</th>
											<th *ngIf="isAuthorized('Archive')" class="text-center">Delete</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let offenderManager of offenderManagers">
											<td class="text-center" *ngIf="isFeildAuthorized('allocationDate')">{{offenderManager.allocationDate}}</td>
											<td class="text-center" *ngIf="isFeildAuthorized('endDate')">{{offenderManager.endDate}}</td>
											<td *ngIf="isFeildAuthorized('allocationReasonId')"><span *ngFor="let allocationReasonId of allocationReasonList | filter :'key' : offenderManager?.allocationReasonId">{{allocationReasonId.value}}</span></td>
											<td *ngIf="isFeildAuthorized('providerId')"><span *ngFor="let provider of providerList | filter :'key' : offenderManager?.providerId">{{provider.value}}</span></td>
											<td *ngIf="isFeildAuthorized('responsibleTeam')">{{offenderManager.responsibleTeam}}</td>
											<td *ngIf="isFeildAuthorized('responsibleOfficer')" class="wid150">{{offenderManager.responsibleOfficer}}</td>
											<!--<td *ngIf="isFeildAuthorized('offenderManagerId')">{{offenderManager.offenderManagerId}}</td>
						<td *ngIf="isFeildAuthorized('spgOffenderManagerId')">{{offenderManager.spgOffenderManagerId}}</td>
						<td *ngIf="isFeildAuthorized('spgVersion')">{{offenderManager.spgVersion}}</td>
						<td *ngIf="isFeildAuthorized('spgUpdateUser')">{{offenderManager.spgUpdateUser}}</td>
				        <td *ngIf="isFeildAuthorized('profileId')">{{offenderManager.profileId}}</td><td *ngIf="isFeildAuthorized('createdDate')">{{offenderManager.createdDate}}</td>
						<td *ngIf="isFeildAuthorized('createdBy')">{{offenderManager.createdBy}}</td>
						<td *ngIf="isFeildAuthorized('createdByUserId')">{{offenderManager.createdByUserId}}</td>
						<td *ngIf="isFeildAuthorized('modifiedDate')">{{offenderManager.modifiedDate}}</td>
						<td *ngIf="isFeildAuthorized('modifiedBy')">{{offenderManager.modifiedBy}}</td>
						<td *ngIf="isFeildAuthorized('modifiedByUserId')">{{offenderManager.modifiedByUserId}}</td>
						<td *ngIf="isFeildAuthorized('deleted')">{{offenderManager.deleted}}</td>
						<td *ngIf="isFeildAuthorized('deletedDate')">{{offenderManager.deletedDate}}</td>
						<td *ngIf="isFeildAuthorized('deletedBy')">{{offenderManager.deletedBy}}</td>
						<td *ngIf="isFeildAuthorized('deletedByUserId')">{{offenderManager.deletedByUserId}}</td>
						<td *ngIf="isFeildAuthorized('locked')">{{offenderManager.locked}}</td>
						<td *ngIf="isFeildAuthorized('version')">{{offenderManager.version}}</td>-->
											<td *ngIf="isAuthorized('Read')" class="text-center"><button class="btn btn-default btn-small" [routerLink]="['offendermanager', offenderManager.offenderManagerId]"><span class="glyphicon glyphicon-search">aa</span></button></td>
											<td *ngIf="isAuthorized('Update')" class="text-center"><button class="btn btn-default btn-small" *ngIf="offendermanager?.locked"><span class="glyphicon glyphicon-lock">aa</span></button>
												<button class="btn btn-default btn-small"
													*ngIf="!offendermanager?.locked" [routerLink]="['offendermanager', offenderManager.offenderManagerId,'edit']"><span class="glyphicon glyphicon-pencil">aa</span></button>
											</td>
											<td *ngIf="isAuthorized('Archive')" class="text-center"><button class="btn btn-default btn-small" (click)="delete(offenderManager.offenderManagerId)"><span class="glyphicon glyphicon-trash">aa</span></button></td>
										</tr>
									</tbody>
								</table>
								<div *ngIf="offenderManagers?.length<=0" class="no-records">No Records Found</div>
							</div>
						</div>
						<tr-pagination [name]="'offenderManagers'" *ngIf="offenderManagers?.length>0" [paginationObj]="sortFilterPaginationObj?.paginationObj" (paginationCommand)="paginate($event)"></tr-pagination>
					</div>
				</div>
			</tr-accordionTab>
		</tr-accordion>
	</div>
</div>