<div>
  <div>
    <div class="form-field-div col-sm-6">
      <div class="view-title col-sm-5" title="Telephone Number">Telephone Number <span class="pull-right">:</span></div>
      <div class="detail-value col-sm-7" [innerHtml] = "valueObj?.telephoneNumber"></div>
    </div>
        <div class="form-field-div col-sm-6">
          <div class="view-title col-sm-5" title="Building Name">Building Name <span class="pull-right">:</span></div>
          <div class="detail-value col-sm-7" [innerHtml] = "valueObj?.buildingname" ></div>
        </div>
        <div class="form-field-div col-sm-6">
          <div class="view-title col-sm-5" title="Building Number">Building Number <span class="pull-right">:</span></div>
          <div class="detail-value col-sm-7" [innerHtml] = "valueObj?.houseNumber" ></div>
        </div>
        <div class="form-field-div col-sm-6">
          <div class="view-title col-sm-5" title="Street Name">Street Name <span class="pull-right">:</span></div>
          <div class="detail-value col-sm-7" [innerHtml] = "valueObj?.streetName" ></div>
        </div>
    <div class="form-field-div col-sm-6">
      <div class="view-title col-sm-5" title="Town/City">Town/City <span class="pull-right">:</span></div>
      <div class="detail-value col-sm-7" [innerHtml] = "valueObj?.townCity" ></div>
    </div>

    <div class="form-field-div col-sm-6">
      <div class="view-title col-sm-5" title="County">County <span class="pull-right">:</span></div>
      <div class="detail-value col-sm-7" [innerHtml] = "valueObj?.country" ></div>
    </div>

    <div class="form-field-div col-sm-6">
      <div class="view-title col-sm-5" title="Postcode">Postcode <span class="pull-right">:</span></div>
      <div class="detail-value col-sm-7" [innerHtml] = "valueObj?.postcode" ></div>
    </div>
  </div>
</div>
