
<div>
  <div class="log-in-container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div>
        <div><h2 class="form-signin-heading"><span class="strikethrough1"></span> Change Password <span class="strikethrough"></span></h2></div>
      </div>
      <div class="form-group">
        <!--<label for="password"><span class="mand-text">*</span></label>-->
        <input type="password" class="form-control" formControlName="oldPassword"  placeholder="current password">
        <div *ngIf="!myForm.controls['oldPassword'].valid">
        </div>
      </div>
      <div class="form-group">
        <!--<label for="newPassword">New Password <span class="mand-text">*</span></label>-->
        <input type="password" class="form-control" id="newPassword" formControlName="newPassword"  placeholder="new password" (keypress)="updateConfirmPassword()">
        <div *ngIf="(myForm.controls['newPassword'].touched || myForm.controls['confirmPassword'].dirty) && !myForm.controls['newPassword'].valid" class="alert-danger text-danger">
          <p>
           {{invalidPasswordMessage}}
          </p>
        </div>
      </div>
      <div class="form-group">
        <!--<label for="confirmPassword">Confirm password <span class="mand-text">*</span></label>-->
        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"  placeholder="confirm new password">
        <div *ngIf="myForm.controls['newPassword'].valid">
            <div *ngIf="(myForm.controls['confirmPassword'].touched || myForm.controls['confirmPassword'].dirty) && !myForm.controls['confirmPassword'].valid" class="alert-danger text-danger">
            <!--<div *ngIf="!forgotResetPasswordForm.controls['newPassword.length <= confirmPassword.length'].valid">-->
            <p  *ngIf="myForm.controls['confirmPassword']!=null">
         Password mismatch
            </p>
        </div>
      </div>
      </div>
       <!--<script src='https://www.google.com/recaptcha/api.js'></script>
       <re-captcha (captchaResponse)="captchaResponse($event)" site_key="6LdpMxYUAAAAAHV5sTasj7_0j99Fa3YzH66nxdii"></re-captcha>-->
        <div class="text-center">
          <button [disabled]="!myForm.valid" type="submit" class="btn btn-default btn-warning mb10 col-sm-12 ">Change Password</button>
          <button [disabled]="!myForm.valid" type="cancel" class="btn btn-default btn-warning mb10 col-sm-12 nopadleft nopadright">Cancel</button></div>
    </form>
  </div>
  </div>
