<div [style.display]="visible ? 'block' : 'none'" >
	<div class="modal show" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hide($event)"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">{{header}}<span class="hidden">Confirm</span></h4>
				</div>
				<div class="modal-body">

          		<p class="white-space-preline">{{message}}</p>

				</div>
				<div class="modal-footer">
            <button type="button" class="btn btn-default btn-white" (click)="accept()">Ok</button>
			 <button type="button" class="btn btn-default btn-white" (click)="reject()" >Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-backdrop fade in"></div>
