<h2 class="page-title">ABOUT US</h2>
<p>Our vision for MegaNexus, founded in 2003 through an initiative at University College London, is to be the number one provider of IL3 people-data software.</p>
<p>As market leader in secure data-partnership systems, our NEO technology ensures the safest, most scalable and simplest to use data platform for multi-agency support. Our systems are used for Payment by Results throughout the Health, Justice, Employment and Education sectors. The NEO platform supports evidence driven solutions across the Public, Private and Voluntary sectors.</p>
<p>MegaNexus NEO software is designed to connect partnerships across disciplines and allow them to share data and content securely. This provides innovative cost effective partnership management which supports  a huge range of projects and funding streams including ESF, ERDF, Big Lottery and SFA.</p>
<p>MegaNexus is ISO27001 accredited, NHS IG Toolkit V10 certified and NEO is IL3 accredited.</p>
 
<h2 class="sub-title">Sectors we work with</h2>

<ul class="sector-style">
<li>Healthcare</li>
<li>Education</li>
<li>Employment</li>
<li>Justice</li>
<li>Community</li> 
</ul>