<div class="detail-view-layout one-line-view">
	<div class="row hide-heading">
		<div class="col-sm-12">
			<h2 class="page-title pull-left">VIEW Offender Additional Sentence</h2>
			<div class="pull-right">
				<button [routerLink]="['../..']" id="backButton" class="btn btn-default btn-purple pull-right">Back</button>
			</div>
		</div>
	</div>
	<div class="double-divider-purple mt10 hide-heading"></div>
	<div class="grid-style" *ngIf="authorizedFlag">
		<tr-accordion>
			<tr-accordionTab header="Additional Sentence" [selected]="true">
				<div class="grid-head"></div>
				<fieldset class="three-column shrink-view">
					<legend> <span class="glyphicon glyphicon-flash"></span> OffenderAdditionalSentence </legend>
					<div class="row">
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('offenderAdditionalSentenceId')">
							<div class="view-title col-sm-5" id="label_offenderAdditionalSentenceId" title="Offender Additional Sentence Id">Offender Additional Sentence Id<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="offenderAdditionalSentenceId">{{offenderAdditionalSentence?.offenderAdditionalSentenceId}}</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('eventId')">
							<div class="view-title col-sm-5" id="label_eventId" title="Event Id">Event Id<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="eventId">{{offenderAdditionalSentence?.eventId}}</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('spgVersion')">
							<div class="view-title col-sm-5" id="label_spgVersion" title="Spg Version">Spg Version<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="spgVersion">{{offenderAdditionalSentence?.spgVersion}}</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('spgUpdateUser')">
							<div class="view-title col-sm-5" id="label_spgUpdateUser" title="Spg Update User">Spg Update User<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="spgUpdateUser">{{offenderAdditionalSentence?.spgUpdateUser}}</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('additionalSentenceId')">
							<div class="view-title col-sm-5" id="label_additionalSentenceId" title="Additional Sentence Id">Additional Sentence<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="additionalSentenceId">
								<tr-list-label *ngIf="offenderAdditionalSentence?.additionalSentenceId" [tableId]="82" [pkValue]="offenderAdditionalSentence?.additionalSentenceId"></tr-list-label>
							</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('length')">
							<div class="view-title col-sm-5" id="label_length" title="Length">Length<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="length">{{offenderAdditionalSentence?.length}}</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('amount')">
							<div class="view-title col-sm-5" id="label_amount" title="Amount">Amount<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="amount">{{offenderAdditionalSentence?.amount}}</div>
						</div>
						<div class="col-sm-12 nopadding">
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('note')">
							<div class="view-title col-sm-5" id="label_note" title="Note">Note<span class="pull-right">:</span></div>
							<div class="detail-value-note col-sm-7" id="note">{{offenderAdditionalSentence?.note}}</div>
						</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('spgOffenderAdditionalSentenceId')">
							<div class="view-title col-sm-5" id="label_spgOffenderAdditionalSentenceId" title="Spg Offender Additional Sentence Id">Spg Offender Additional Sentence Id<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="spgOffenderAdditionalSentenceId">{{offenderAdditionalSentence?.spgOffenderAdditionalSentenceId}}</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('createdBy')">
							<div class="view-title col-sm-5" id="label_createdBy" title="Created By">Created By<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="createdBy">{{offenderAdditionalSentence?.createdBy}}</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('createdByUserId')">
							<div class="view-title col-sm-5" id="label_createdByUserId" title="Created By User Id">Created By User Id<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="createdByUserId">{{offenderAdditionalSentence?.createdByUserId}}</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('createdDate')">
							<div class="view-title col-sm-5" id="label_createdDate" title="Created Date">Created Date<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="createdDate">{{offenderAdditionalSentence?.createdDate}}</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('modifiedBy')">
							<div class="view-title col-sm-5" id="label_modifiedBy" title="Modified By">Modified By<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="modifiedBy">{{offenderAdditionalSentence?.modifiedBy}}</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('modifiedByUserId')">
							<div class="view-title col-sm-5" id="label_modifiedByUserId" title="Modified By User Id">Modified By User Id<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="modifiedByUserId">{{offenderAdditionalSentence?.modifiedByUserId}}</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('modifiedDate')">
							<div class="view-title col-sm-5" id="label_modifiedDate" title="Modified Date">Modified Date<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="modifiedDate">{{offenderAdditionalSentence?.modifiedDate}}</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('deleted')">
							<div class="view-title col-sm-5" id="label_deleted" title="Deleted">Deleted<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="deleted">{{offenderAdditionalSentence?.deleted}}</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('deletedBy')">
							<div class="view-title col-sm-5" id="label_deletedBy" title="Deleted By">Deleted By<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="deletedBy">{{offenderAdditionalSentence?.deletedBy}}</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('deletedByUserId')">
							<div class="view-title col-sm-5" id="label_deletedByUserId" title="Deleted By User Id">Deleted By User Id<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="deletedByUserId">{{offenderAdditionalSentence?.deletedByUserId}}</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('deletedDate')">
							<div class="view-title col-sm-5" id="label_deletedDate" title="Deleted Date">Deleted Date<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="deletedDate">{{offenderAdditionalSentence?.deletedDate}}</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('locked')">
							<div class="view-title col-sm-5" id="label_locked" title="Locked">Locked<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="locked">{{offenderAdditionalSentence?.locked}}</div>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('version')">
							<div class="view-title col-sm-5" id="label_version" title="Version">Version<span class="pull-right">:</span></div>
							<div class="detail-value col-sm-7" id="version">{{offenderAdditionalSentence?.version}}</div>
						</div>
					</div>
				</fieldset>
			</tr-accordionTab>
		</tr-accordion>
	</div>
	<div *ngIf="!authorizedFlag">Not Authorized</div>
</div>