<div class="edit-view-layout">

	<div class="grid-style" *ngIf="authorizedFlag">
		<tr-accordion>
			<tr-accordionTab header="Terminate Pss Requirement" [selected]="false">
				<div class="grid-head">
					<div class="pull-right"><button class="btn btn-default btn-small" *ngIf="locked" title="The record is locked."><span class="glyphicon glyphicon-lock "></span></button></div>
				</div>

				<form [formGroup]="pssRequirementAddForm" (ngSubmit)="onSubmit()" autocomplete="off">
					<fieldset class="three-column">
						<legend> <span class="glyphicon glyphicon-flash"></span> Pss Requirement </legend>
						<div class="row">

							<div class="form-group col-sm-6" *ngIf="isFeildAuthorized('actualEndDate')">
								<label for="actualEndDate" title="Termination Date">Termination Date<span class="mand-text">*</span></label>
								<date-picker [controlName]="'actualEndDate'" [form]="pssRequirementAddForm"></date-picker>
								<control-messages [control]="pssRequirementAddForm.controls.actualEndDate"></control-messages>
							</div>

							<div class="form-group col-sm-6" *ngIf="isFeildAuthorized('terminationReasonId')">
								<label for="terminationReasonId" title="Termination Reason">Termination Reason<span class="mand-text">*</span></label>
								<tr-dropdown [operation] = "action" [tableId]="199" [list]="terminationReasonList"[controlName]="'terminationReasonId'" [dropdown]="pssRequirementAddForm"></tr-dropdown>
								<control-messages [control]="pssRequirementAddForm.controls.terminationReasonId"></control-messages>
							</div>

							<div class="form-group col-sm-6" *ngIf="isFeildAuthorized('attendanceCount') && nsrdData['attendanceCount']?.active">
								<label for="attendanceCount" title="Attendance Count">Attendance Count<span *ngIf="nsrdData['attendanceCount']?.mandatory" class="mand-text">*</span></label>
								<input type="text" formControlName="attendanceCount" id="attendanceCount" class="form-control" placeholder="Attendance Count"/>
								<control-messages [control]="pssRequirementAddForm.controls.attendanceCount"></control-messages>
							</div>

							<div class="form-group col-sm-12 note-style" *ngIf="isFeildAuthorized('notes')">
								<label for="notes" title="Notes">Notes </label>
								<textarea formControlName="notes" id="notes" class="form-control"></textarea>
								<control-messages [control]="pssRequirementAddForm.controls.notes"></control-messages>
							</div>

							<div class="form-group col-sm-12 text-right">
								<button *ngIf="terminated == false" class="btn btn-default btn-purple" id="saveButton" fromServerMessageValidator [form]="pssRequirementAddForm" [disabled]="terminated">Submit</button>
								<button *ngIf="terminated && !locked" class="btn btn-default btn-purple" id="saveButton" fromServerMessageValidator [form]="pssRequirementAddForm">Unterminate</button>
								<button *ngIf="terminated && locked"  class="btn btn-default btn-purple" id="saveButton" fromServerMessageValidator [form]="pssRequirementAddForm" [disabled]="terminated">Unterminate</button>
								<button type="button" *ngIf="action == 'Update'" (click)="pssRequirementAddForm.reset()" id="cancelButton" class="btn btn-default btn-white" [disabled]="terminated">Cancel</button>
							</div>
						</div>
					</fieldset>

				</form>
			</tr-accordionTab>
		</tr-accordion>
	</div>
	<!--<div *ngIf="!authorizedFlag">Not Authorized</div>-->
</div>
