<router-outlet></router-outlet>
<div class="list-view-layout">
	<div class="grid-grey" *ngIf="authorizedFlag">
		<tr-list-refresh (refreshCommand)="searchEnforcement()"></tr-list-refresh>
		<h2>Enforcements</h2>
		<div class="mt20">

			<div class="grid-style filter-div">
				<tr-accordion>
					<tr-accordionTab header="filter" [selected]="false">
						<div class="pad15 nopadbtm">
							<div class="filter-div">
								<form [formGroup]="enforcementFilterForm" (ngSubmit)="searchEnforcement()" class="collapse in" id="collapseExample" autocomplete="off">
									<div class="row">
										<div class="form-group col-sm-6">
											<label for="teamId">Team</label>
											<select class="form-control" formControlName="teamId" id="teamId">
													<option value='' >--Select--</option>
													<option *ngFor="let team of officeTeams" [value]="team?.key" >{{team?.value}}</option>
												</select>
										</div>

										<div class="form-group col-sm-6">
											<label for="caseReferenceNumber">CRN</label>
											<input type="text" formControlName="caseReferenceNumber" id="caseReferenceNumber" class="form-control" placeholder="CRN">
										</div>

										<div class="form-group col-sm-6">
											<label for="categoryId">Category</label>
											<select class="form-control" formControlName="categoryId">
													<option value='' >--Select--</option>
													<option *ngFor="let category of categoryList" [value]="category?.key" >{{category?.value}}</option>
												</select>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-sm-6 pull-right text-right">
											<button type="submit" class="btn btn-default btn-purple">Search</button>
											<button type="button" class="btn btn-default btn-white" (click)="reset()">Reset</button>
										</div>
									</div>

								</form>
							</div>
						</div>
					</tr-accordionTab>
				</tr-accordion>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="table-div">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th id="familyNamehead" trSortBy="familyName" (sortCommand)="sort($event)"><span class="th-div">Family Name<span *ngIf="sortSearchPaginationObj.sortObj.field == 'familyName'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
									</th>
									<th id="firstNamehead" trSortBy="firstName" (sortCommand)="sort($event)"><span class="th-div">First Name<span *ngIf="sortSearchPaginationObj.sortObj.field == 'firstName'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
									</th>
									<th id="caseReferenceNumberhead" trSortBy="caseReferenceNumber" (sortCommand)="sort($event)" class="text-center"><span class="th-div">CRN<span *ngIf="sortSearchPaginationObj.sortObj.field == 'caseReferenceNumber'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
									</th>
									<th id="teamhead" trSortBy="team" (sortCommand)="sort($event)"><span class="th-div">Team<span *ngIf="sortSearchPaginationObj.sortObj.field == 'team'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
									</th>

									<th id="categoryId" trSortBy="categoryId" (sortCommand)="sort($event)"><span class="th-div">Category<span *ngIf="sortSearchPaginationObj.sortObj.field == 'categoryId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
									</th>

									<th id="disposalTypehead" trSortBy="disposalType" (sortCommand)="sort($event)"><span class="th-div">Associated Event<span *ngIf="sortSearchPaginationObj.sortObj.field == 'disposalType'"

											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
									</th>
									<th id="contactDatehead" trSortBy="contactDate" (sortCommand)="sort($event)" class="text-center"><span class="th-div">FTA Date<span *ngIf="sortSearchPaginationObj.sortObj.field == 'contactDate'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
									</th>
									<th id="modifiedDatehead" trSortBy="modifiedDate" (sortCommand)="sort($event)" class="text-center"><span class="th-div">Requested Date<span *ngIf="sortSearchPaginationObj.sortObj.field == 'modifiedDate'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
									</th>
									<th class="text-center wid120"><span class="hidden">View</span></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let enforcement of enforcementList; let i = index">
									<td>{{enforcement?.familyName}}</td>
									<td>{{enforcement?.firstName}}</td>
									<td class="text-center">{{enforcement?.caseReferenceNumber}}</td>
									<td>{{enforcement?.team}}</td>
									<td><tr-list-label [tableId]="2546" [pkValue]="enforcement?.categoryId"></tr-list-label></td>
									<td>{{enforcement?.disposalType}}</td>

									<td class="text-center">{{enforcement?.contactDate}}</td>

									<td class="text-center">{{enforcement?.modifiedDate.split(' ')[0]}}</td>

									<td class="text-center">
										<span>
                      <!--<button class="btn btn-default btn-small" id="enforcement_view{{i}}" [routerLink]="[ '/my-service-user',enforcement?.profileId,'plan','contact',enforcement?.contactId]" title="View Record"><span class="glyphicon glyphicon-search">aa</span></button>-->
										</span>
										<span *ngIf="isAuthorized('Read')">
											<button class="btn btn-default btn-small" id="enforcement_view{{i}}" [routerLink]="[enforcement?.profileId, 'contact', enforcement?.contactId]" title="View Record"><span class="glyphicon glyphicon-search">aa</span></button>
										</span>
										<span *ngIf="isAuthorized('Update')">
											<button id="enforcement_edit{{i}}" class="btn btn-default btn-small" *ngIf="enforcement?.locked" title="Edit record is locked."><span class="glyphicon glyphicon-lock">aa</span></button>
										<button *ngIf="!enforcement?.locked" [routerLink]="[enforcement?.profileId, 'edit', enforcement?.contactId ]" id="enforcement_edit{{i}}"
										 class="btn btn-default btn-small" title="Edit Record"><span class="glyphicon glyphicon-pencil">aa</span></button>
										</span>
									</td>
								</tr>
							</tbody>

						</table>
						<div *ngIf="enforcementList?.length<=0" class="no-records">No Records Found</div>
					</div>
				</div>
				<tr-pagination [name]="'enforcementList'" *ngIf="enforcementList?.length>0" [paginationObj]="sortSearchPaginationObj?.paginationObj"
				 (paginationCommand)="paginate($event)"></tr-pagination>
			</div>
		</div>
	</div>
	<div *ngIf="!authorizedFlag">Not Authorized</div>
</div>