<div class="list-view-layout">
	<h2 class="page-title">Assessment</h2>
	<div class="double-divider-purple mt10"></div>
	<div class="grid-style" *ngIf="authorizedFlag">
		<tr-accordion>
			<tr-accordionTab header="Assessment" [selected]="false">
				<div class="grid-head">
					<tr-accordion-header>
						<div *ngIf="isAuthorized('Create')" class="pull-right">
							<button [routerLink]="['assessment','new']" id="assessment_addButton" class="btn btn-default btn-small pull-right" title="Add Record"><span class="glyphicon glyphicon-plus">aa</span></button>
						</div>
					</tr-accordion-header>
					<tr-list-refresh (refreshCommand)="sortFilterAndPaginate(sortSearchPaginationObj?.filterObj, sortSearchPaginationObj?.paginationObj, sortSearchPaginationObj?.sortObj)"></tr-list-refresh>
				</div>
				<div class="pad15">
					<!--<div class="grid-style filter-div">
						<tr-accordion>
							<tr-accordionTab header="filter">

								<div class="grid-head">

								</div>
								<div class="pad15 nopadbtm">
									<tr-search [searchObjs]="searchObjs" (searchCommand)="searchAssessment($event)"></tr-search>
								</div>
							</tr-accordionTab>
						</tr-accordion>
					</div>-->

					<div class="row">
						<div class="col-md-12">
							<div class="table-div">
								<table class="table table-bordered">
									<thead>
										<tr>
											<!-- <th *ngIf="isFeildAuthorized('spgVersion')" id="spgVersion" trSortBy="spgVersion" (sortCommand)="sort($event)"><span class="th-div">Spg Version<span *ngIf="sortSearchPaginationObj.sortObj.field == 'spgVersion'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('referralId')" id="referralId" trSortBy="referralId" (sortCommand)="sort($event)"><span class="th-div">Referral Id<span *ngIf="sortSearchPaginationObj.sortObj.field == 'referralId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('assessmentId')" id="assessmentId" trSortBy="assessmentId" (sortCommand)="sort($event)"><span class="th-div">Assessment Id<span *ngIf="sortSearchPaginationObj.sortObj.field == 'assessmentId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('spgUpdateUser')" id="spgUpdateUser" trSortBy="spgUpdateUser" (sortCommand)="sort($event)"><span class="th-div">Spg Update User<span *ngIf="sortSearchPaginationObj.sortObj.field == 'spgUpdateUser'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('assessmentProviderId')" id="assessmentProviderId" trSortBy="assessmentProviderId" (sortCommand)="sort($event)"><span class="th-div">Assessment Provider Id<span *ngIf="sortSearchPaginationObj.sortObj.field == 'assessmentProviderId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('assessmentTeam')" id="assessmentTeam" trSortBy="assessmentTeam" (sortCommand)="sort($event)"><span class="th-div">Assessment Team<span *ngIf="sortSearchPaginationObj.sortObj.field == 'assessmentTeam'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('assessmentOfficer')" id="assessmentOfficer" trSortBy="assessmentOfficer" (sortCommand)="sort($event)"><span class="th-div">Assessment Officer<span *ngIf="sortSearchPaginationObj.sortObj.field == 'assessmentOfficer'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('assessmentScore')" id="assessmentScore" trSortBy="assessmentScore" (sortCommand)="sort($event)"><span class="th-div">Assessment Score<span *ngIf="sortSearchPaginationObj.sortObj.field == 'assessmentScore'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('durationInMinutes')" id="durationInMinutes" trSortBy="durationInMinutes" (sortCommand)="sort($event)"><span class="th-div">Duration In Minutes<span *ngIf="sortSearchPaginationObj.sortObj.field == 'durationInMinutes'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('offenderAgreementYesNoId')" id="offenderAgreementYesNoId" trSortBy="offenderAgreementYesNoId" (sortCommand)="sort($event)"><span class="th-div">Offender Agreement Yes No Id<span *ngIf="sortSearchPaginationObj.sortObj.field == 'offenderAgreementYesNoId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('spgAssessmentId')" id="spgAssessmentId" trSortBy="spgAssessmentId" (sortCommand)="sort($event)"><span class="th-div">Spg Assessment Id<span *ngIf="sortSearchPaginationObj.sortObj.field == 'spgAssessmentId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('eventId')" id="eventId" trSortBy="eventId" (sortCommand)="sort($event)"><span class="th-div">Event Id<span *ngIf="sortSearchPaginationObj.sortObj.field == 'eventId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('createdBy')" id="createdBy" trSortBy="createdBy" (sortCommand)="sort($event)"><span class="th-div">Created By<span *ngIf="sortSearchPaginationObj.sortObj.field == 'createdBy'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('createdByUserId')" id="createdByUserId" trSortBy="createdByUserId" (sortCommand)="sort($event)"><span class="th-div">Created By User Id<span *ngIf="sortSearchPaginationObj.sortObj.field == 'createdByUserId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('createdDate')" id="createdDate" trSortBy="createdDate" (sortCommand)="sort($event)"><span class="th-div">Created Date<span *ngIf="sortSearchPaginationObj.sortObj.field == 'createdDate'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('modifiedBy')" id="modifiedBy" trSortBy="modifiedBy" (sortCommand)="sort($event)"><span class="th-div">Modified By<span *ngIf="sortSearchPaginationObj.sortObj.field == 'modifiedBy'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('modifiedByUserId')" id="modifiedByUserId" trSortBy="modifiedByUserId" (sortCommand)="sort($event)"><span class="th-div">Modified By User Id<span *ngIf="sortSearchPaginationObj.sortObj.field == 'modifiedByUserId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('modifiedDate')" id="modifiedDate" trSortBy="modifiedDate" (sortCommand)="sort($event)"><span class="th-div">Modified Date<span *ngIf="sortSearchPaginationObj.sortObj.field == 'modifiedDate'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('deleted')" id="deleted" trSortBy="deleted" (sortCommand)="sort($event)"><span class="th-div">Deleted<span *ngIf="sortSearchPaginationObj.sortObj.field == 'deleted'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('deletedBy')" id="deletedBy" trSortBy="deletedBy" (sortCommand)="sort($event)"><span class="th-div">Deleted By<span *ngIf="sortSearchPaginationObj.sortObj.field == 'deletedBy'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('deletedByUserId')" id="deletedByUserId" trSortBy="deletedByUserId" (sortCommand)="sort($event)"><span class="th-div">Deleted By User Id<span *ngIf="sortSearchPaginationObj.sortObj.field == 'deletedByUserId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('deletedDate')" id="deletedDate" trSortBy="deletedDate" (sortCommand)="sort($event)"><span class="th-div">Deleted Date<span *ngIf="sortSearchPaginationObj.sortObj.field == 'deletedDate'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('locked')" id="locked" trSortBy="locked" (sortCommand)="sort($event)"><span class="th-div">Locked<span *ngIf="sortSearchPaginationObj.sortObj.field == 'locked'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('version')" id="version" trSortBy="version" (sortCommand)="sort($event)"><span class="th-div">Version<span *ngIf="sortSearchPaginationObj.sortObj.field == 'version'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<th *ngIf="isFeildAuthorized('assessmentDate')" id="assessmentDate" trSortBy="assessmentDate" (sortCommand)="sort($event)" class="text-center"><span class="th-div">Assessment Date<span *ngIf="sortSearchPaginationObj.sortObj.field == 'assessmentDate'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
											</th>
											<th *ngIf="isFeildAuthorized('assessmentTypeId')" id="assessmentTypeId" trSortBy="assessmentTypeId" (sortCommand)="sort($event)"><span class="th-div">Assessment Type<span *ngIf="sortSearchPaginationObj.sortObj.field == 'assessmentTypeId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
											</th>
											<!-- <th *ngIf="isFeildAuthorized('offenderRequiredToAttendYesNoId')" id="offenderRequiredToAttendYesNoId" trSortBy="offenderRequiredToAttendYesNoId" (sortCommand)="sort($event)"><span class="th-div">Offender Required To Attend Yes No Id<span *ngIf="sortSearchPaginationObj.sortObj.field == 'offenderRequiredToAttendYesNoId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<!-- <th *ngIf="isFeildAuthorized('offenderAttendedYesNoId')" id="offenderAttendedYesNoId" trSortBy="offenderAttendedYesNoId" (sortCommand)="sort($event)"><span class="th-div">Offender Attended Yes No Id<span *ngIf="sortSearchPaginationObj.sortObj.field == 'offenderAttendedYesNoId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->
											<th *ngIf="isFeildAuthorized('assessmentOutcomeId')" id="assessmentOutcomeId" trSortBy="assessmentOutcomeId" (sortCommand)="sort($event)"><span class="th-div">Assessment Outcome<span *ngIf="sortSearchPaginationObj.sortObj.field == 'assessmentOutcomeId'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span>
											</th>
											<!-- <th *ngIf="isFeildAuthorized('note')" id="note" trSortBy="note" (sortCommand)="sort($event)"><span class="th-div">Note<span *ngIf="sortSearchPaginationObj.sortObj.field == 'note'"
											[ngClass]="{'glyphicon-chevron-up':sortSearchPaginationObj.sortObj.sort=='asc', 'glyphicon-chevron-down':sortSearchPaginationObj.sortObj.sort=='desc'}" class="glyphicon"></span></span></th> -->

											<th *ngIf="isAuthorized('Read')" class="text-center"><span class="hidden">View</span></th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let assessment of assessmentList; let i = index">
											<td class="text-center" *ngIf="isFeildAuthorized('assessmentDate')">{{assessment?.assessmentDate}}</td>


											<td *ngIf="isFeildAuthorized('assessmentTypeId')">
												<span *ngFor="let assessmentTypeId of assessmentTypeIdList | filter :'key' : assessment?.assessmentTypeId">{{assessmentTypeId.value}}</span>
											</td>

											<td *ngIf="isFeildAuthorized('assessmentOutcomeId')">
												<span *ngFor="let assessmentOutcomeId of assessmentOutcomeIdList | filter :'key' : assessment?.assessmentOutcomeId">{{assessmentOutcomeId.value}}</span>
											</td>

											<td class="text-center">
												<span *ngIf="isAuthorized('Read')">
											<button id="assessment_view{{i}}" [routerLink]="['assessment',assessment?.assessmentId]"  class="btn btn-default btn-small" title="View Record">
												<span class="glyphicon glyphicon-search">aa</span>
												</button>
												</span>
												<span *ngIf="isAuthorized('Update')">
												<button id="assessment_edit{{i}}" class="btn btn-default btn-small" *ngIf="assessment?.locked" title="Edit record is locked.">
                                                                                                <span class="glyphicon glyphicon-lock">aa</span>
												</button>
												<button *ngIf="!assessment?.locked" [routerLink]="['assessment', 'edit', assessment?.assessmentId]" id="assessment_edit{{i}}"
													class="btn btn-default btn-small" title="Edit Record"><span class="glyphicon glyphicon-pencil">aa</span></button>
												</span>
												<span *ngIf="isAuthorized('Archive')">
														<button id="assessment_delete{{i}}" class="btn btn-default btn-small" *ngIf="assessment?.locked" title="Delete record is locked.">
                                                                                                <span class="glyphicon glyphicon-lock">aa</span>
												</button>
												<button *ngIf="!assessment?.locked" (click)="delete(assessment?.assessmentId)" id="assessment_delete{{i}}" class="btn btn-default btn-small"
													title="Delete Record"><span class="glyphicon glyphicon-trash">aa</span></button>
												</span>
											</td>
										</tr>
									</tbody>
								</table>
								<div *ngIf="assessmentList?.length<=0" class="no-records">No Records Found</div>
							</div>
						</div>
						<tr-pagination [name]="'assessmentList'" *ngIf="assessmentList?.length>0" [paginationObj]="sortSearchPaginationObj?.paginationObj" (paginationCommand)="paginate($event)"></tr-pagination>
					</div>
				</div>
			</tr-accordionTab>
		</tr-accordion>
	</div>
	
</div>