<div class="detail-view-layout one-line-view">
	<div class="row hide-heading">
		<div class="col-sm-12">
			<h2 class="page-title pull-left">VIEW Court Work</h2>
			<div class="pull-right">
				<button [routerLink]="['../..']" id="backButton" class="btn btn-default btn-purple pull-right">Back</button>
			</div>
		</div>
	</div>
	<div class="double-divider-purple mt10 hide-heading"></div>
	<div class="grid-style" *ngIf="authorizedFlag">
		<tr-accordion>
			<tr-accordionTab header="Court Work Pack - " [selected]="true">
				<div class="custom-align left-175">{{associatedEvent.value}}</div>
				<div class="grid-head"></div>
				<fieldset class="three-column shrink-view">
					<legend> <span class="glyphicon glyphicon-flash"></span> CourtWork </legend>
					<div class="row">
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('processId')">
							<div class="view-title col-sm-5" title="Process Id" id="label_processId">Process Id<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="processId">{{courtWork?.processId}}</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('profileId')">
							<div class="view-title col-sm-5" title="Profile Id" id="label_profileId">Profile Id<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="profileId">{{courtWork?.profileId}}</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('spgVersion')">
							<div class="view-title col-sm-5" title="Spg Version" id="label_spgVersion">Spg Version<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="spgVersion">{{courtWork?.spgVersion}}</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('spgUpdateUser')">
							<div class="view-title col-sm-5" title="Spg Update User" id="label_spgUpdateUser">Spg Update User<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="spgUpdateUser">{{courtWork?.spgUpdateUser}}</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('processTypeId')">
							<div class="view-title col-sm-5" title="Court Work Request Type" id="label_processTypeId">Court Work Request Type<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="processTypeId">
								<tr-list-label *ngIf="courtWork?.processTypeId" [tableId]="192" [pkValue]="courtWork?.processTypeId"></tr-list-label>
							</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('processSubTypeId')">
							<div class="view-title col-sm-5" title="Court Work Request Sub-Type" id="label_processSubTypeId">Court Work Request Sub-Type<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="processSubTypeId">
								<tr-list-label *ngIf="courtWork?.processSubTypeId" [tableId]="170" [pkValue]="courtWork?.processSubTypeId"></tr-list-label>
							</p>
						</div>

						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('processRefDate')">
							<div class="view-title col-sm-5" title="Referral Date" id="label_processRefDate">Referral Date<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="processRefDate">{{courtWork?.processRefDate}}</p>
						</div>

						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('intendedProviderId')">
							<div class="view-title col-sm-5" title="Intended CRC/NPS Division" id="label_intendedProviderId">Intended CRC/NPS Division<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="intendedProviderId">
								<tr-list-label *ngIf="courtWork?.intendedProviderId" [tableId]="193" [pkValue]="courtWork?.intendedProviderId"></tr-list-label>
							</p>
						</div>

						<!--<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('processExpectedStartDate')">
                            <div class="view-title col-sm-5" title="Process Expected Start Date" id="label_processExpectedStartDate">Process Expected Start Date<span class="pull-right">:</span></div>
                            <p class="detail-value col-sm-7" id="processExpectedStartDate">{{courtWork?.processExpectedStartDate}}</p>
                        </div>-->
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('processStartDate')">
							<div class="view-title col-sm-5" title="Start Date" id="label_processStartDate">Start Date<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="processStartDate">{{courtWork?.processStartDate}}</p>
						</div>
						<!--<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('processExpectedEndDate')">
                            <div class="view-title col-sm-5" title="Process Expected End Date" id="label_processExpectedEndDate">Process Expected End Date<span class="pull-right">:</span></div>
                            <p class="detail-value col-sm-7" id="processExpectedEndDate">{{courtWork?.processExpectedEndDate}}</p>
                        </div>-->
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('processEndDate')">
							<div class="view-title col-sm-5" title="End Date" id="label_processEndDate">End Date<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="processEndDate">{{courtWork?.processEndDate}}</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('processStageId')">
							<div class="view-title col-sm-5" title="Status" id="label_processStageId">Status<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="processStageId">
								<tr-list-label *ngIf="courtWork?.processStageId" [tableId]="191" [pkValue]="courtWork?.processStageId"></tr-list-label>
							</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('processStageDate')">
							<div class="view-title col-sm-5" title="Status Date" id="label_processStageDate">Status Date<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="processStageDate">{{courtWork?.processStageDate}}</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('processOutcomeId')">
							<div class="view-title col-sm-5" title="Outcome" id="label_processOutcomeId">Outcome<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="processOutcomeId">
								<tr-list-label *ngIf="courtWork?.processOutcomeId" [tableId]="169" [pkValue]="courtWork?.processOutcomeId"></tr-list-label>
							</p>
						</div>

						<div class="form-field-div col-sm-6">
							<div class="view-title col-sm-5" title="Document Type" id="label_docType">Document Type <span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="docType">{{courtWork?.docType}}</p>
						</div>
						<div class="form-field-div col-sm-6">
							<div class="view-title col-sm-5" title="Document Name" id="label_documentNamenew">Document Name<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="documentNamenew">{{courtWork?.documentName?.split("_")[0]}}</p>
						</div>
						<div class="form-field-div col-sm-6">
							<div class="view-title col-sm-5" title="Document" id="label_document">Document<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="document">{{courtWork?.documentName?.split("_")[0]}}
								<button *ngIf="courtWork?.alfrescoDocId!=null && courtWork?.alfrescoDocId!='' && courtWork?.alfrescoDocId!=undefined" class="btn btn-default btn-small" (click)="downloadDocument(courtWork?.alfrescoDocId)" id="{{courtWork?.alfrescoDocId}}" title="Download">
                        		<span class="glyphicon glyphicon-download-alt"></span>
                      		</button>
							</p>
						</div>

                        <div class="col-sm-12 nopadding">
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('processNote')">
							<div class="view-title col-sm-5" title="Notes" id="label_processNotes">Notes<span class="pull-right">:</span></div>
							<p class="detail-value text-box" id="processNote">{{courtWork?.processNote}}</p>
						</div>
                        </div>

						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('spgProcessContactId')">
							<div class="view-title col-sm-5" title="Spg Process Contact Id" id="label_spgProcessContactId">Spg Process Contact Id<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="spgProcessContactId">{{courtWork?.spgProcessContactId}}</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('createdBy')">
							<div class="view-title col-sm-5" title="Created By" id="label_createdBy">Created By<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="createdBy">{{courtWork?.createdBy}}</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('createdByUserId')">
							<div class="view-title col-sm-5" title="Created By User Id" id="label_createdByUserId">Created By User Id<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="createdByUserId">{{courtWork?.createdByUserId}}</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('createdDate')">
							<div class="view-title col-sm-5" title="Created Date" id="label_createdDate">Created Date<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="createdDate">{{courtWork?.createdDate}}</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('modifiedBy')">
							<div class="view-title col-sm-5" title="Modified By" id="label_modifiedBy">Modified By<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="modifiedBy">{{courtWork?.modifiedBy}}</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('modifiedByUserId')">
							<div class="view-title col-sm-5" title="Modified By User Id" id="label_modifiedByUserId">Modified By User Id<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="modifiedByUserId">{{courtWork?.modifiedByUserId}}</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('modifiedDate')">
							<div class="view-title col-sm-5" title="Modified Date" id="label_modifiedDate">Modified Date<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="modifiedDate">{{courtWork?.modifiedDate}}</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('deleted')">
							<div class="view-title col-sm-5" title="Deleted" id="label_deleted">Deleted<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="deleted">{{courtWork?.deleted}}</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('deletedBy')">
							<div class="view-title col-sm-5" title="Deleted By" id="label_deletedBy">Deleted By<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="deletedBy">{{courtWork?.deletedBy}}</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('deletedByUserId')">
							<div class="view-title col-sm-5" title="Deleted By User Id" id="label_deletedByUserId">Deleted By User Id<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="deletedByUserId">{{courtWork?.deletedByUserId}}</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('deletedDate')">
							<div class="view-title col-sm-5" title="Deleted Date" id="label_deletedDate">Deleted Date<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="deletedDate">{{courtWork?.deletedDate}}</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('locked')">
							<div class="view-title col-sm-5" title="Locked" id="label_locked">Locked<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="locked">{{courtWork?.locked}}</p>
						</div>
						<div class="form-field-div col-sm-6" *ngIf="isFeildAuthorized('version')">
							<div class="view-title col-sm-5" title="Version" id="label_version">Version<span class="pull-right">:</span></div>
							<p class="detail-value col-sm-7" id="version">{{courtWork?.version}}</p>
						</div>
					</div>
				</fieldset>
			</tr-accordionTab>
		</tr-accordion>
	</div>

		<tr-accordion>
            <tr-accordionTab header="Breach/Court Work Report Documents " [selected]="true">
    				<tr-generate-letter></tr-generate-letter>
   			</tr-accordionTab>
		</tr-accordion>


	<div *ngIf="!authorizedFlag">Not Authorized</div>
</div>
